.badgeBase {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: var(--token-j3e3hd4_O7Ka);
}
.badgeBasesize_small {
  height: var(--token-pfigewTba1YI);
}
.badgeBasesize_large {
  height: var(--token-yDFCSKWwZKIK);
}
.badgeStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--token-d9DnHYsA22xO);
  padding-left: var(--token-XOJH_gxe_AzF);
  padding-right: var(--token-XOJH_gxe_AzF);
  border-radius: var(--token-hGRU1HiAQGiw);
}
.badgeStackemphasis_outline {
  background: none;
  border: 1px solid var(--token-rVbhYIjgF_nU);
}
.badgeStackemphasis_ghost {
  background: var(--token-Ot9tdOY-wz83);
}
.badgeStacksize_small {
  padding: 0px var(--token-zgY_kVrG-pNz);
}
.badgeStacksize_large {
  padding-left: var(--token-IaNhyDEP_rZQ);
  padding-right: var(--token-IaNhyDEP_rZQ);
}
.badgeStackshape_square {
  border-radius: var(--token-ooUkD9JFdXYs);
}
.badgeStackshape_pill {
  border-radius: var(--token-hGRU1HiAQGiw);
}
.badgeStackbackground_red {
  background: var(--token-DFms3aO3cJZk);
}
.badgeStackbackground_yellow {
  background: var(--token-f23Qy641W2OQ);
}
.badgeStackbackground_green {
  background: var(--token-x6g_G4uWNdNF);
}
.badgeStackbackground_blue {
  background: var(--token-XOjYdA42Y0k7);
}
.badgeStackbackground_lime {
  background: var(--token-tzseko_y4xzp);
}
.badgeStackbackground_teal {
  background: var(--token-Ygo8BKLLIkF2);
}
.badgeStackbackground_turquoise {
  background: var(--token-CVTP9XFbghIK);
}
.badgeStackbackground_aqua {
  background: var(--token-CtIy-MHE1FiV);
}
.badgeStackbackground_indigo {
  background: var(--token-jfIiZCj5Qevr);
}
.badgeStackbackground_pink {
  background: var(--token-vnUq2x7bv_i-);
}
.badgeStackbackground_purple {
  background: var(--token-ntO5pCYQSH7A);
}
.badgeStackstatus_negative {
  background: var(--token-yzf8B6nK4Sw3);
}
.badgeStackstatus_notice {
  background: var(--token-KaYgGlpPQ1EB);
}
.badgeStackstatus_positive {
  background: var(--token-oLmQwOkgcmG_);
}
.badgeStackstatus_info {
  background: var(--token-Xw_AZRaTJuAl);
}
.slotTargetAvatarInitialsSlot {
  white-space: pre;
  text-align: center;
  color: var(--token-yE9xSu9ZvOnk);
  font-size: var(--token-nzhJo5rxzpC3);
  font-family: var(--token-o_-FH-oT6rPa);
}
.slotTargetAvatarInitialsSlot > :global(.__wab_text),
.slotTargetAvatarInitialsSlot > :global(.__wab_expr_html_text),
.slotTargetAvatarInitialsSlot > :global(.__wab_slot-string-wrapper),
.slotTargetAvatarInitialsSlot > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetAvatarInitialsSlot > *,
.slotTargetAvatarInitialsSlot > :global(.__wab_slot) > *,
.slotTargetAvatarInitialsSlot > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetAvatarInitialsSlot > picture > img,
.slotTargetAvatarInitialsSlot > :global(.__wab_slot) > picture > img,
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetAvatarInitialsSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetAvatarInitialsSlotemphasis_outline {
  color: var(--token-tw4uUaQepnqZ);
}
.slotTargetAvatarInitialsSlotemphasis_ghost {
  color: var(--token-NzjyFtQtk9Sl);
}
.slotTargetAvatarInitialsSlotsize_small {
  font-size: var(--token-E-XpXqdEPBpB);
}
.text__ymoUn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
