.root:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__g5LDc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 12px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-y0FlP_YYIbFJ);
  color: var(--token-mRcLmUjIWezI);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 700;
  min-width: 0;
}
.text__na1Rh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  margin-top: 24px;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: var(--token-S1_5tr5MMIHQ);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 300;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 32px;
}
.svg__d2T3G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__b6SW5 {
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7DoRz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.svg___80P9I {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
