.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.container___1DOy3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___0SQyb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lBmMu {
  color: var(--token-lWEO2ZudSDrD);
  font-size: var(--token-YUUshI2lfBP0);
  font-weight: 700;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
  padding: var(--token-ooyqpeY3PJfm);
}
.textadvert_special__lBmMufhyw8 {
  display: block;
}
.container__dsUNh:global(.__wab_instance) {
  max-width: 100%;
}
.pricingItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-cHe-Qqpq2FMR);
  box-shadow: 4px 6px 50px 0px #cdcdcd80;
  width: 100%;
  min-width: 0;
  border-radius: var(--token-tI_mjlKuyArR);
  padding: var(--token-ZseIMxw94CIA);
}
.img__obmlp {
  position: absolute;
  object-fit: cover;
  max-width: 141px;
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
  filter: hue-rotate(333deg);
}
.img__obmlp > picture > img {
  object-fit: cover;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 52px;
  text-align: center;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-XT-l5IwECj_e);
  color: var(--token-mRcLmUjIWezI);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 700;
  min-width: 0;
}
.text___0YKkc {
  position: relative;
  margin-top: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 400;
  max-width: var(--token-HllraYDyYmkz);
}
.separator__rqvvZ:global(.__wab_instance) {
  max-width: 100%;
  margin-top: var(--token-85o_oyL9o1Eo);
}
.freeBox__vfve {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 24px;
  min-width: 0;
  padding: 0px;
}
.h3 {
  position: relative;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-y0FlP_YYIbFJ);
  color: var(--token-mRcLmUjIWezI);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 700;
}
.text___5RDrC {
  position: relative;
  margin-top: 19px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-S1_5tr5MMIHQ);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
}
.separator__jfXxx:global(.__wab_instance) {
  max-width: 100%;
  margin-top: var(--token-85o_oyL9o1Eo);
}
.text__l98T7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  text-align: center;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 600;
  min-width: 0;
}
.freeBox__qBo1R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 168px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ffulq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___18YO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img___88HaU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img___88HaU > picture > img {
  object-fit: cover;
}
.freeBox__zKMu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ck5Eh {
  position: relative;
  width: 118px;
  height: 100%;
  max-width: 800px;
  margin-left: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-khu1zxOIHmDW);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox__vjdUq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uPbDe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img___1Scu9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img___1Scu9 > picture > img {
  object-fit: cover;
}
.freeBox__ydMHu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__qFvEi {
  position: relative;
  width: 118px;
  height: 100%;
  max-width: 800px;
  margin-left: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-khu1zxOIHmDW);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox___1Sc68 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gKa3P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__guh0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img__guh0R > picture > img {
  object-fit: cover;
}
.freeBox___8XlXf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__rak7C {
  position: relative;
  width: 118px;
  height: 100%;
  max-width: 800px;
  margin-left: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-khu1zxOIHmDW);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  flex-shrink: 0;
  min-height: 0;
}
.button:global(.__wab_instance) {
  position: relative;
  margin-top: 27px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg__wi00B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iaTNr {
  width: 100%;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: 1rem;
  color: var(--token-B1kSDB6XpDES);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  white-space: pre;
  min-width: 0;
}
.svg__pLfDw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.svg__ky2Pf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
