@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Libre+Franklin%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-4H0cSs7J9dl4: #ffffff;
  --plasmic-token-site-base-color: var(--token-4H0cSs7J9dl4);
  --token-4qXn4C1XZ7tm: #131313;
  --plasmic-token-site-border-color: var(--token-4qXn4C1XZ7tm);
  --token-myD-3jHf5uAe: 1rem;
  --plasmic-token-card-padding-md: var(--token-myD-3jHf5uAe);
  --token-YX12fyW3hha7: 10rem;
  --plasmic-token-theme-area-margin-0100: var(--token-YX12fyW3hha7);
  --token-3q0_P6HZ3pDI: 16px;
  --plasmic-token-site-font-size-normal: var(--token-3q0_P6HZ3pDI);
  --token-GX6jNk_EW0n4: 16px;
  --plasmic-token-site-font-size-para: var(--token-GX6jNk_EW0n4);
  --token-lqTK4LPh2Khf: 16px;
  --plasmic-token-site-font-size-heading: var(--token-lqTK4LPh2Khf);
  --token-S-HpDUNF-RT7: 16px;
  --plasmic-token-site-font-size-subtitle: var(--token-S-HpDUNF-RT7);
  --token-h1RbjRQGS8fm: 16px;
  --plasmic-token-site-font-size-overline: var(--token-h1RbjRQGS8fm);
  --token-41KtGTKN2IYt: 16px;
  --plasmic-token-site-font-size-caption: var(--token-41KtGTKN2IYt);
  --token-PTzzEEcLh2ju: 16px;
  --plasmic-token-site-font-size-display: var(--token-PTzzEEcLh2ju);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-W943Zrug214W_font-family: var(--token-vgNVdg-g9HJ_);
  --mixin-W943Zrug214W_font-size: var(--token-nzhJo5rxzpC3);
  --mixin-W943Zrug214W_font-weight: 400;
  --mixin-W943Zrug214W_font-style: normal;
  --mixin-W943Zrug214W_color: var(--token-pk_1Z9QFM4r7);
  --mixin-W943Zrug214W_text-align: left;
  --mixin-W943Zrug214W_text-transform: none;
  --mixin-W943Zrug214W_line-height: var(--token-4DuRNCAeoDYh);
  --mixin-W943Zrug214W_letter-spacing: normal;
  --mixin-W943Zrug214W_white-space: pre-wrap;
  --mixin-W943Zrug214W_user-select: text;
  --mixin-W943Zrug214W_text-decoration-line: none;
  --mixin-W943Zrug214W_text-overflow: clip;
  --mixin-RTHc_srDggCs_color: var(--token-pk_1Z9QFM4r7);
  --mixin-RTHc_srDggCs_font-weight: 700;
  --mixin-RTHc_srDggCs_font-size: 3.8rem;
  --mixin-RTHc_srDggCs_line-height: var(--token-7WnIFLPpk8UJ);
  --mixin-RTHc_srDggCs_letter-spacing: -1px;
  --mixin-RTHc_srDggCs_white-space: pre-wrap;
  --mixin-olAhwRsZA0cU_color: var(--token-pk_1Z9QFM4r7);
  --mixin-olAhwRsZA0cU_font-size: var(--token-KC1sj0wdsKaW);
  --mixin-olAhwRsZA0cU_font-weight: 700;
  --mixin-olAhwRsZA0cU_letter-spacing: -0.5px;
  --mixin-olAhwRsZA0cU_line-height: var(--token-mXZ3BhGXehjy);
  --mixin-olAhwRsZA0cU_font-family: var(--token-vgNVdg-g9HJ_);
  --mixin-olAhwRsZA0cU_white-space: pre-wrap;
  --mixin-rTt1pyikTnvP_color: #0070f3;
  --mixin-rTt1pyikTnvP_white-space: pre-wrap;
  --mixin-KPQatqT2A_Re_color: var(--token-pk_1Z9QFM4r7);
  --mixin-KPQatqT2A_Re_font-size: var(--token-Q2X4JhBy_hV8);
  --mixin-KPQatqT2A_Re_font-weight: 600;
  --mixin-KPQatqT2A_Re_line-height: var(--token-7WnIFLPpk8UJ);
  --mixin-KPQatqT2A_Re_white-space: pre-wrap;
  --mixin-BmUAMfMv8gVk_color: var(--token-pk_1Z9QFM4r7);
  --mixin-BmUAMfMv8gVk_font-size: var(--token-4hF_LwIOL-pD);
  --mixin-BmUAMfMv8gVk_font-weight: 600;
  --mixin-BmUAMfMv8gVk_line-height: var(--token-7WnIFLPpk8UJ);
  --mixin-BmUAMfMv8gVk_white-space: pre-wrap;
  --mixin-kZwb8SJVY4Q2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kZwb8SJVY4Q2_border-bottom-color: #dddddd;
  --mixin-kZwb8SJVY4Q2_border-bottom-style: solid;
  --mixin-kZwb8SJVY4Q2_border-bottom-width: 1px;
  --mixin-kZwb8SJVY4Q2_border-left-color: #dddddd;
  --mixin-kZwb8SJVY4Q2_border-left-style: solid;
  --mixin-kZwb8SJVY4Q2_border-left-width: 1px;
  --mixin-kZwb8SJVY4Q2_border-right-color: #dddddd;
  --mixin-kZwb8SJVY4Q2_border-right-style: solid;
  --mixin-kZwb8SJVY4Q2_border-right-width: 1px;
  --mixin-kZwb8SJVY4Q2_border-top-color: #dddddd;
  --mixin-kZwb8SJVY4Q2_border-top-style: solid;
  --mixin-kZwb8SJVY4Q2_border-top-width: 1px;
  --mixin-kZwb8SJVY4Q2_border-bottom-left-radius: 3px;
  --mixin-kZwb8SJVY4Q2_border-bottom-right-radius: 3px;
  --mixin-kZwb8SJVY4Q2_border-top-left-radius: 3px;
  --mixin-kZwb8SJVY4Q2_border-top-right-radius: 3px;
  --mixin-kZwb8SJVY4Q2_padding-bottom: 1px;
  --mixin-kZwb8SJVY4Q2_padding-left: 4px;
  --mixin-kZwb8SJVY4Q2_padding-right: 4px;
  --mixin-kZwb8SJVY4Q2_padding-top: 1px;
  --mixin-kZwb8SJVY4Q2_white-space: pre-wrap;
  --mixin-N_TqNJk8xDFA_border-left-color: #dddddd;
  --mixin-N_TqNJk8xDFA_border-left-style: solid;
  --mixin-N_TqNJk8xDFA_border-left-width: 3px;
  --mixin-N_TqNJk8xDFA_color: #888888;
  --mixin-N_TqNJk8xDFA_padding-left: 10px;
  --mixin-N_TqNJk8xDFA_white-space: pre-wrap;
  --mixin-H8tOx-v_lsdy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-H8tOx-v_lsdy_border-bottom-color: #dddddd;
  --mixin-H8tOx-v_lsdy_border-bottom-style: solid;
  --mixin-H8tOx-v_lsdy_border-bottom-width: 1px;
  --mixin-H8tOx-v_lsdy_border-left-color: #dddddd;
  --mixin-H8tOx-v_lsdy_border-left-style: solid;
  --mixin-H8tOx-v_lsdy_border-left-width: 1px;
  --mixin-H8tOx-v_lsdy_border-right-color: #dddddd;
  --mixin-H8tOx-v_lsdy_border-right-style: solid;
  --mixin-H8tOx-v_lsdy_border-right-width: 1px;
  --mixin-H8tOx-v_lsdy_border-top-color: #dddddd;
  --mixin-H8tOx-v_lsdy_border-top-style: solid;
  --mixin-H8tOx-v_lsdy_border-top-width: 1px;
  --mixin-H8tOx-v_lsdy_border-bottom-left-radius: 3px;
  --mixin-H8tOx-v_lsdy_border-bottom-right-radius: 3px;
  --mixin-H8tOx-v_lsdy_border-top-left-radius: 3px;
  --mixin-H8tOx-v_lsdy_border-top-right-radius: 3px;
  --mixin-H8tOx-v_lsdy_padding-bottom: 3px;
  --mixin-H8tOx-v_lsdy_padding-left: 6px;
  --mixin-H8tOx-v_lsdy_padding-right: 6px;
  --mixin-H8tOx-v_lsdy_padding-top: 3px;
  --mixin-H8tOx-v_lsdy_white-space: pre-wrap;
  --mixin-syqFC7_r3YfW_display: flex;
  --mixin-syqFC7_r3YfW_flex-direction: column;
  --mixin-syqFC7_r3YfW_align-items: stretch;
  --mixin-syqFC7_r3YfW_justify-content: flex-start;
  --mixin-syqFC7_r3YfW_list-style-position: outside;
  --mixin-syqFC7_r3YfW_padding-left: 40px;
  --mixin-syqFC7_r3YfW_position: relative;
  --mixin-syqFC7_r3YfW_list-style-type: disc;
  --mixin-syqFC7_r3YfW_white-space: pre-wrap;
  --mixin-y8vzETlfbjNq_display: flex;
  --mixin-y8vzETlfbjNq_flex-direction: column;
  --mixin-y8vzETlfbjNq_align-items: stretch;
  --mixin-y8vzETlfbjNq_justify-content: flex-start;
  --mixin-y8vzETlfbjNq_list-style-position: outside;
  --mixin-y8vzETlfbjNq_padding-left: 40px;
  --mixin-y8vzETlfbjNq_position: relative;
  --mixin-y8vzETlfbjNq_list-style-type: decimal;
  --mixin-y8vzETlfbjNq_white-space: pre-wrap;
  --mixin-64R_3CzvwIv8_color: var(--token-pk_1Z9QFM4r7);
  --mixin-64R_3CzvwIv8_font-size: var(--token-B2IUd2TRCN8k);
  --mixin-64R_3CzvwIv8_font-weight: 600;
  --mixin-64R_3CzvwIv8_line-height: var(--token-7WnIFLPpk8UJ);
  --mixin-64R_3CzvwIv8_white-space: pre-wrap;
  --mixin-UMSPG45njjJc_color: var(--token-pk_1Z9QFM4r7);
  --mixin-UMSPG45njjJc_font-size: var(--token-CFFEqlmqKUYW);
  --mixin-UMSPG45njjJc_font-weight: 600;
  --mixin-UMSPG45njjJc_line-height: var(--token-7WnIFLPpk8UJ);
  --mixin-UMSPG45njjJc_white-space: pre-wrap;
  --mixin-L5R2iXb8A5Vp_color: #3291ff;
  --mixin-L5R2iXb8A5Vp_white-space: pre-wrap;
  --mixin-ssgTrtst_Sr-_white-space: pre-wrap;
  --mixin-uqIpCF_meFfP_font-size: var(--token-YUUshI2lfBP0);
  --mixin-uqIpCF_meFfP_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-TRO2U3NRM5fU_white-space: pre-wrap;
  --plasmic-mixin-page-subheading_white-space: var(
    --mixin-TRO2U3NRM5fU_white-space
  );
  --mixin-cqHLLkRMIMbq_white-space: pre-wrap;
  --plasmic-mixin-label_white-space: var(--mixin-cqHLLkRMIMbq_white-space);
  --mixin-KUzHw8WSsYdi_white-space: pre-wrap;
  --plasmic-mixin-hyperlink-subtle_white-space: var(
    --mixin-KUzHw8WSsYdi_white-space
  );
  --mixin-QcgCuRIXgEr3_white-space: pre-wrap;
  --plasmic-mixin-page-heading_white-space: var(
    --mixin-QcgCuRIXgEr3_white-space
  );
  --mixin-l_LXvif2yYF__white-space: pre-wrap;
  --plasmic-mixin-feature-list-heading_white-space: var(
    --mixin-l_LXvif2yYF__white-space
  );
  --mixin-5XWHceZ7pp5P_white-space: pre-wrap;
  --plasmic-mixin-section-tagline_white-space: var(
    --mixin-5XWHceZ7pp5P_white-space
  );
  --mixin-_AePOIg2UR9r_white-space: pre-wrap;
  --plasmic-mixin-section-heading_white-space: var(
    --mixin-_AePOIg2UR9r_white-space
  );
  --mixin-RQr8Xd27lXVF_white-space: pre-wrap;
  --plasmic-mixin-section-subheading_white-space: var(
    --mixin-RQr8Xd27lXVF_white-space
  );
  --mixin-v-ZP3dRsnfW-_white-space: pre-wrap;
  --plasmic-mixin-heading-body_white-space: var(
    --mixin-v-ZP3dRsnfW-_white-space
  );
  --mixin-baylxRMMJrN9_white-space: pre-wrap;
  --plasmic-mixin-column-heading_white-space: var(
    --mixin-baylxRMMJrN9_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-W943Zrug214W_font-family);
  font-size: var(--mixin-W943Zrug214W_font-size);
  font-weight: var(--mixin-W943Zrug214W_font-weight);
  font-style: var(--mixin-W943Zrug214W_font-style);
  color: var(--mixin-W943Zrug214W_color);
  text-align: var(--mixin-W943Zrug214W_text-align);
  text-transform: var(--mixin-W943Zrug214W_text-transform);
  line-height: var(--mixin-W943Zrug214W_line-height);
  letter-spacing: var(--mixin-W943Zrug214W_letter-spacing);
  white-space: var(--mixin-W943Zrug214W_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-RTHc_srDggCs_color);
  font-weight: var(--mixin-RTHc_srDggCs_font-weight);
  font-size: var(--mixin-RTHc_srDggCs_font-size);
  line-height: var(--mixin-RTHc_srDggCs_line-height);
  letter-spacing: var(--mixin-RTHc_srDggCs_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-olAhwRsZA0cU_color);
  font-size: var(--mixin-olAhwRsZA0cU_font-size);
  font-weight: var(--mixin-olAhwRsZA0cU_font-weight);
  letter-spacing: var(--mixin-olAhwRsZA0cU_letter-spacing);
  line-height: var(--mixin-olAhwRsZA0cU_line-height);
  font-family: var(--mixin-olAhwRsZA0cU_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-rTt1pyikTnvP_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-KPQatqT2A_Re_color);
  font-size: var(--mixin-KPQatqT2A_Re_font-size);
  font-weight: var(--mixin-KPQatqT2A_Re_font-weight);
  line-height: var(--mixin-KPQatqT2A_Re_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-BmUAMfMv8gVk_color);
  font-size: var(--mixin-BmUAMfMv8gVk_font-size);
  font-weight: var(--mixin-BmUAMfMv8gVk_font-weight);
  line-height: var(--mixin-BmUAMfMv8gVk_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  border-radius: var(--mixin-kZwb8SJVY4Q2_border-top-left-radius)
    var(--mixin-kZwb8SJVY4Q2_border-top-right-radius)
    var(--mixin-kZwb8SJVY4Q2_border-bottom-right-radius)
    var(--mixin-kZwb8SJVY4Q2_border-bottom-left-radius);
  padding: var(--mixin-kZwb8SJVY4Q2_padding-top)
    var(--mixin-kZwb8SJVY4Q2_padding-right)
    var(--mixin-kZwb8SJVY4Q2_padding-bottom)
    var(--mixin-kZwb8SJVY4Q2_padding-left);
  border-top: var(--mixin-kZwb8SJVY4Q2_border-top-width)
    var(--mixin-kZwb8SJVY4Q2_border-top-style)
    var(--mixin-kZwb8SJVY4Q2_border-top-color);
  border-right: var(--mixin-kZwb8SJVY4Q2_border-right-width)
    var(--mixin-kZwb8SJVY4Q2_border-right-style)
    var(--mixin-kZwb8SJVY4Q2_border-right-color);
  border-bottom: var(--mixin-kZwb8SJVY4Q2_border-bottom-width)
    var(--mixin-kZwb8SJVY4Q2_border-bottom-style)
    var(--mixin-kZwb8SJVY4Q2_border-bottom-color);
  border-left: var(--mixin-kZwb8SJVY4Q2_border-left-width)
    var(--mixin-kZwb8SJVY4Q2_border-left-style)
    var(--mixin-kZwb8SJVY4Q2_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-N_TqNJk8xDFA_color);
  padding-left: var(--mixin-N_TqNJk8xDFA_padding-left);
  border-left: var(--mixin-N_TqNJk8xDFA_border-left-width)
    var(--mixin-N_TqNJk8xDFA_border-left-style)
    var(--mixin-N_TqNJk8xDFA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  border-radius: var(--mixin-H8tOx-v_lsdy_border-top-left-radius)
    var(--mixin-H8tOx-v_lsdy_border-top-right-radius)
    var(--mixin-H8tOx-v_lsdy_border-bottom-right-radius)
    var(--mixin-H8tOx-v_lsdy_border-bottom-left-radius);
  padding: var(--mixin-H8tOx-v_lsdy_padding-top)
    var(--mixin-H8tOx-v_lsdy_padding-right)
    var(--mixin-H8tOx-v_lsdy_padding-bottom)
    var(--mixin-H8tOx-v_lsdy_padding-left);
  border-top: var(--mixin-H8tOx-v_lsdy_border-top-width)
    var(--mixin-H8tOx-v_lsdy_border-top-style)
    var(--mixin-H8tOx-v_lsdy_border-top-color);
  border-right: var(--mixin-H8tOx-v_lsdy_border-right-width)
    var(--mixin-H8tOx-v_lsdy_border-right-style)
    var(--mixin-H8tOx-v_lsdy_border-right-color);
  border-bottom: var(--mixin-H8tOx-v_lsdy_border-bottom-width)
    var(--mixin-H8tOx-v_lsdy_border-bottom-style)
    var(--mixin-H8tOx-v_lsdy_border-bottom-color);
  border-left: var(--mixin-H8tOx-v_lsdy_border-left-width)
    var(--mixin-H8tOx-v_lsdy_border-left-style)
    var(--mixin-H8tOx-v_lsdy_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-syqFC7_r3YfW_display);
  flex-direction: var(--mixin-syqFC7_r3YfW_flex-direction);
  align-items: var(--mixin-syqFC7_r3YfW_align-items);
  justify-content: var(--mixin-syqFC7_r3YfW_justify-content);
  list-style-position: var(--mixin-syqFC7_r3YfW_list-style-position);
  padding-left: var(--mixin-syqFC7_r3YfW_padding-left);
  position: var(--mixin-syqFC7_r3YfW_position);
  list-style-type: var(--mixin-syqFC7_r3YfW_list-style-type);
  flex-column-gap: var(--mixin-syqFC7_r3YfW_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-y8vzETlfbjNq_display);
  flex-direction: var(--mixin-y8vzETlfbjNq_flex-direction);
  align-items: var(--mixin-y8vzETlfbjNq_align-items);
  justify-content: var(--mixin-y8vzETlfbjNq_justify-content);
  list-style-position: var(--mixin-y8vzETlfbjNq_list-style-position);
  padding-left: var(--mixin-y8vzETlfbjNq_padding-left);
  position: var(--mixin-y8vzETlfbjNq_position);
  list-style-type: var(--mixin-y8vzETlfbjNq_list-style-type);
  flex-column-gap: var(--mixin-y8vzETlfbjNq_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-64R_3CzvwIv8_color);
  font-size: var(--mixin-64R_3CzvwIv8_font-size);
  font-weight: var(--mixin-64R_3CzvwIv8_font-weight);
  line-height: var(--mixin-64R_3CzvwIv8_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-UMSPG45njjJc_color);
  font-size: var(--mixin-UMSPG45njjJc_font-size);
  font-weight: var(--mixin-UMSPG45njjJc_font-weight);
  line-height: var(--mixin-UMSPG45njjJc_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-L5R2iXb8A5Vp_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  font-size: var(--mixin-uqIpCF_meFfP_font-size);
}
