.aboutContainer:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.aboutSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: none;
  min-width: 0;
  padding: var(--token-xu6Us5OmbxIS);
}
.aboutGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.aboutItem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1164px;
  min-width: 0;
  padding: var(--token-assO5SPaJtMi);
}
.columns__xxX1R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__xxX1R > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__xxX1R > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xxX1R {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xxX1R > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8TpPg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__z0MnZ {
  position: relative;
  object-fit: cover;
  max-width: 500px;
}
.img__z0MnZ > picture > img {
  object-fit: cover;
}
.column__oPUt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 6px;
}
.freeBox__duWn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__ilfF9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
.img__bXzhJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img__bXzhJ > picture > img {
  object-fit: cover;
}
.text__b4KwF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 12px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  min-width: 0;
}
.h3__yuJ42 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-y0FlP_YYIbFJ);
  color: var(--token-mRcLmUjIWezI);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 700;
  min-width: 0;
}
.text__z30AM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  margin-top: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-S1_5tr5MMIHQ);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 300;
  min-width: 0;
}
.button__dGUjr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 32px;
  flex-shrink: 0;
}
.svg__gi9AX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___6Ctnd {
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-size: 1rem;
  color: var(--token-B1kSDB6XpDES);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  white-space: pre;
}
.svg__gNlxu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.svg__qf8B8 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.aboutItem2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1133px;
  margin-top: var(--token-cV23RWcyCdL_);
  margin-bottom: var(--token-cV23RWcyCdL_);
  min-width: 0;
  padding: var(--token-assO5SPaJtMi);
}
.columns__sl5X7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__sl5X7 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__sl5X7 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sl5X7 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sl5X7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3BtpB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 75px 0px 0px;
}
.utilityComponentBasic:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  margin-top: 0px;
}
.column__lMuzf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 40px;
}
.img__oh28C {
  position: relative;
  object-fit: cover;
  max-width: 500px;
}
.img__oh28C > picture > img {
  object-fit: cover;
}
.freeBox__lilpl {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  height: 135px;
  max-width: 100%;
  background: var(--token-rHKH-6H36O2O);
  left: 0px;
  top: 392px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lilpl {
    left: 5px;
    top: 306px;
  }
}
.freeBox__efdRs {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 16px;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.img__a5Isv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__a5Isv > picture > img {
  object-fit: cover;
}
.text__thj65 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  text-align: center;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-lWEO2ZudSDrD);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 400;
  min-width: 0;
}
.aboutItem3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1165px;
  margin-bottom: var(--token-ay3SGbRDmtRU);
  min-width: 0;
  padding: var(--token-assO5SPaJtMi);
}
.columns__eMvZ3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__eMvZ3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__eMvZ3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eMvZ3 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eMvZ3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___31RSt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.img__xvchj {
  position: relative;
  object-fit: cover;
  max-width: 500px;
  align-self: flex-start;
}
.img__xvchj > picture > img {
  object-fit: cover;
}
.freeBox__arrfy {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  height: 135px;
  max-width: 100%;
  background: var(--token-rHKH-6H36O2O);
  left: 0px;
  top: 32px;
  right: auto;
  margin-left: 0px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
.freeBox__iOihl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__cdoht {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__cdoht > picture > img {
  object-fit: cover;
}
.text__qmYjg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  text-align: center;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-lWEO2ZudSDrD);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 400;
  min-width: 0;
}
.column__uT9Lz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 40px;
}
.freeBox__d3LlS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  max-height: 529px;
  min-width: 0;
  padding: 0px;
}
.freeBox__zEtpt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__zYzA4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img__zYzA4 > picture > img {
  object-fit: cover;
}
.text__jx00O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 12px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-UY6qY9TFWt3q);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 500;
  min-width: 0;
}
.h3___0HgtM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-y0FlP_YYIbFJ);
  color: var(--token-mRcLmUjIWezI);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 700;
  min-width: 0;
}
.text__j1R5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  margin-top: 24px;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: var(--token-S1_5tr5MMIHQ);
  color: var(--token-m2XKFkte8gPB);
  font-family: var(--token-vgNVdg-g9HJ_);
  font-weight: 300;
  min-width: 0;
}
.button__n7UmK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 32px;
  flex-shrink: 0;
}
.svg__coIDx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__o0M9N {
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___92QHi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.svg__loNvM {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
