.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  overflow: hidden;
  background: var(--token-R89rho0efgOF);
  border-radius: var(--token-87KRxbXC8FvQ);
  padding: var(--token-9bXt9CqoYNJA);
  border: 1px solid var(--token--JhuebdZi4au);
}
.containerbackgroundColor_mainBold {
  background: var(--token-j2u6k452iiZE);
}
.containerbackgroundColor_mainDefault {
  background: var(--token-6Yhbm6VRTn48);
}
.containerbackgroundColor_mainDisabled {
  background: var(--token-hjf6thb6tpJi);
}
.containerbackgroundColor_mainEmphasis {
  background: var(--token-s0G3l7OgWyU6);
}
.containerbackgroundColor_mainMuted {
  background: var(--token-gd1f1wqm9seL);
}
.containerbackgroundColor_mainSubtle {
  background: var(--token-fY2uALtUMpAu);
}
.containerbackgroundColor_ancillaryBold {
  background: var(--token-VOBCVnsPdcdL);
}
.containerbackgroundColor_ancillaryDefault {
  background: var(--token-3EexDikvqfgA);
}
.containerbackgroundColor_ancillaryDisabled {
  background: var(--token-VSry94SbtPIS);
}
.containerbackgroundColor_ancillaryEmphasis {
  background: var(--token-gqAEKtCPDyRD);
}
.containerbackgroundColor_ancillaryMuted {
  background: var(--token-KWBCulVbmGu0);
}
.containerbackgroundColor_ancillarySubtle {
  background: var(--token-qBJkTbS8IfNo);
}
.containerbackgroundColor_accentBold {
  background: var(--token-wOc0Ssrc146b);
}
.containerbackgroundColor_accentDefault {
  background: var(--token-eubMt0fuyXcC);
}
.containerbackgroundColor_accentDisabled {
  background: var(--token-iErceQZJT7uF);
}
.containerbackgroundColor_accentEmphasis {
  background: var(--token-gqAEKtCPDyRD);
}
.containerbackgroundColor_accentMuted {
  background: var(--token-KWBCulVbmGu0);
}
.containerbackgroundColor_accentSubtle {
  background: var(--token-jLTlW-lEJ19R);
}
.containerbackgroundColor_standardBold {
  background: var(--token-H7GR56uMXe4p);
}
.containerbackgroundColor_standardDefault {
  background: var(--token-O9rJdbOnD4S5);
}
.containerbackgroundColor_standardDisabled {
  background: var(--token-XSRiUvTL3aqP);
}
.containerbackgroundColor_standardEmphasis {
  background: var(--token-Sjnf1HgTMBKr);
}
.containerbackgroundColor_standardMuted {
  background: var(--token-HpkZIqNnWk4w);
}
.containerbackgroundColor_standardSubtle {
  background: var(--token-YQH4RZTzHbQU);
}
.containerlayer01_backgroundUniversal {
  background: var(--token-Pa1AWPdQ_WNQ);
}
.containerlayer01_backgroundSubtle {
  background: var(--token-N_CHyXMijmuY);
}
.containerlayer01_backgroundBold {
  background: var(--token-s4O7l8V0-Anw);
}
.containerlayer02_backgroundUniversal {
  background: var(--token-Bk-ue094YSqs);
}
.containerlayer02_backgroundSubtle {
  background: var(--token-5CN3bHmftQWk);
}
.containerlayer02_backgroundBold {
  background: var(--token-RHKBDk9oBrmO);
}
.containerlayer03_backgroundUniversal {
  background: var(--token-XUVhvUSWeL3D);
}
.containerlayer03_backgroundSubtle {
  background: var(--token-5CN3bHmftQWk);
}
.containerlayer03_backgroundBold {
  background: var(--token-dvMZTzcGSbKZ);
}
.containerborderColor_mainBold {
  border: 1px solid var(--token-g40B2mZL403L);
}
.containerborderColor_mainDefault {
  border: 1px solid var(--token-6Yhbm6VRTn48);
}
.containerborderColor_mainDisabled {
  border-color: var(--token-qVa1pTC7lBYI);
}
.containerborderColor_mainEmphasis {
  border-color: var(--token-Vdp0MoSEu20i);
}
.containerborderColor_mainMuted {
  border-color: var(--token-CvAILX5yEzG0);
}
.containerborderColor_mainSubtle {
  border-color: var(--token-XznNU5is47kd);
}
.containerborderColor_ancillaryBold {
  border-color: var(--token-AdFG_agErfep);
}
.containerborderColor_ancillaryDefault {
  border-color: var(--token-5ATNTxJn931D);
}
.containerborderColor_ancillaryDisabled {
  border-color: var(--token-tfJTUDUZzTcW);
}
.containerborderColor_ancillaryEmphasis {
  border-color: var(--token-y0APF8SsIj6v);
}
.containerborderColor_ancillaryMuted {
  border-color: var(--token-z4mzkkiz_bUZ);
}
.containerborderColor_ancillarySubtle {
  border-color: var(--token-qBJkTbS8IfNo);
}
.containerborderColor_accentBold {
  border-color: var(--token-znWPLY06CfOI);
}
.containerborderColor_accentDefault {
  border-color: var(--token-urIHBMwz_cfc);
}
.containerborderColor_accentDisabled {
  border-color: var(--token-LaUohYl2tO9-);
}
.containerborderColor_accentEmphasis {
  border-color: var(--token-YHRN1-qboR_f);
}
.containerborderColor_accentMuted {
  border-color: var(--token-7I7f2YfHn2q6);
}
.containerborderColor_accentSubtle {
  border-color: var(--token-zKJ2ZGGchwEQ);
}
.containerborderColor_standardBold {
  border-color: var(--token-UMcLGwxkHaxf);
}
.containerborderColor_standardDefault {
  border-color: var(--token-O9rJdbOnD4S5);
}
.containerborderColor_standardDisabled {
  border-color: var(--token-N9CLrFlOLPET);
}
.containerborderColor_standardEmphasis {
  border-color: var(--token-XfEXGoFEiH3q);
}
.containerborderColor_standardMuted {
  border-color: var(--token-gRdCPxFL9lNG);
}
.containerborderColor_standardSubtle {
  border-color: var(--token-0uj5R0B7dgdy);
}
.containerborderStyle__2Px {
  border-width: 2px;
}
.containerborderStyle__3Px {
  border-width: 3px;
}
.containerborderStyle__4Px {
  border-width: 4px;
}
.containerborderStyle_dashed {
  border-style: dashed;
}
.containerborderStyle_dotted {
  border-style: dotted;
}
.containerradius_small {
  border-radius: var(--token-jcyGw9Xgn9vA);
}
.containerradius_medium {
  border-radius: var(--token-cEZkYldjZBmr);
}
.containerradius_large {
  border-radius: var(--token-1-H1a2sg3Rar);
}
.containerradius_extraLarge {
  border-radius: var(--token-Q2w-dn1XTCJ8);
}
.containerradius_none {
  border-radius: var(--token-87KRxbXC8FvQ);
}
.containershadow_xs {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 2px 4px 0px var(--token-yJT84Kd1X9fB);
}
.containershadow_sm {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 4px 8px 0px var(--token-yJT84Kd1X9fB);
}
.containershadow_md {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 8px 16px 0px var(--token-yJT84Kd1X9fB);
}
.containershadow_lg {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 16px 24px 0px var(--token-yJT84Kd1X9fB);
}
.containershadow_xl {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 24px 40px 0px var(--token-yJT84Kd1X9fB);
}
.containershadow_xxl {
  box-shadow: 0px 0px 1px 0px var(--token-yJT84Kd1X9fB),
    0px 32px 50px 0px var(--token-yJT84Kd1X9fB);
}
.containercontainerPadding_all3Xs {
  padding-top: var(--token-goojsIB3YJJi);
}
.containercontainerPadding_all2Xs {
  padding: var(--token-CQEqmaG2zXba);
}
.containercontainerPadding_allXs {
  padding: var(--token-0kkJ_RCIvo1e);
}
.containercontainerPadding_allSm {
  padding: var(--token-tuVADwflmgFK);
}
.containercontainerPadding_allMd {
  padding: var(--token-5H_PS-ymeexU);
}
.containercontainerPadding_allLg {
  padding: var(--token-1lQbgUxQCErb);
}
.containercontainerPadding_allXl {
  padding: var(--token-fYIGRN0B0ntf);
}
.containercontainerPadding_all2Xl {
  padding: var(--token-dJG3VOatYuai);
}
.containercontainerPadding_all3Xl {
  padding: var(--token-BI7RVllCFHPg);
}
.containercontainerPadding_all4Xl {
  padding: var(--token-MAAfB48wCYlu);
}
.containercontainerPadding_top3Xs {
  padding-top: var(--token-goojsIB3YJJi);
}
.containercontainerPadding_top2Xs {
  padding-top: var(--token-CQEqmaG2zXba);
}
.containercontainerPadding_topXs {
  padding-top: var(--token-0kkJ_RCIvo1e);
}
.containercontainerPadding_topSm {
  padding-top: var(--token-tuVADwflmgFK);
}
.containercontainerPadding_topMd {
  padding-top: var(--token-5H_PS-ymeexU);
}
.containercontainerPadding_topLg {
  padding-top: var(--token-1lQbgUxQCErb);
}
.containercontainerPadding_topXl {
  padding-top: var(--token-fYIGRN0B0ntf);
}
.containercontainerPadding_top2Xl {
  padding-top: var(--token-dJG3VOatYuai);
}
.containercontainerPadding_top3Xl {
  padding-top: var(--token-BI7RVllCFHPg);
}
.containercontainerPadding_top4Xl {
  padding-top: var(--token-MAAfB48wCYlu);
}
.containercontainerPadding_bottom3Xs {
  padding-bottom: var(--token-goojsIB3YJJi);
}
.containercontainerPadding_bottom2Xs {
  padding-bottom: var(--token-CQEqmaG2zXba);
}
.containercontainerPadding_bottomXs {
  padding-bottom: var(--token-0kkJ_RCIvo1e);
}
.containercontainerPadding_bottomSm {
  padding-bottom: var(--token-tuVADwflmgFK);
}
.containercontainerPadding_bottomMd {
  padding-bottom: var(--token-5H_PS-ymeexU);
}
.containercontainerPadding_bottomLg {
  padding-bottom: var(--token-1lQbgUxQCErb);
}
.containercontainerPadding_bottomXl {
  padding-bottom: var(--token-fYIGRN0B0ntf);
}
.containercontainerPadding_bottom2Xl {
  padding-bottom: var(--token-dJG3VOatYuai);
}
.containercontainerPadding_bottom3Xl {
  padding-bottom: var(--token-BI7RVllCFHPg);
}
.containercontainerPadding_bottom4Xl {
  padding-bottom: var(--token-MAAfB48wCYlu);
}
.containercontainerPadding_left3Xs {
  padding-left: var(--token-goojsIB3YJJi);
}
.containercontainerPadding_left2Xs {
  padding-left: var(--token-CQEqmaG2zXba);
}
.containercontainerPadding_leftXs {
  padding-left: var(--token-0kkJ_RCIvo1e);
}
.containercontainerPadding_leftSm {
  padding-left: var(--token-tuVADwflmgFK);
}
.containercontainerPadding_leftMd {
  padding-left: var(--token-5H_PS-ymeexU);
}
.containercontainerPadding_leftLg {
  padding-left: var(--token-1lQbgUxQCErb);
}
.containercontainerPadding_leftXl {
  padding-left: var(--token-fYIGRN0B0ntf);
}
.containercontainerPadding_left2Xl {
  padding-left: var(--token-dJG3VOatYuai);
}
.containercontainerPadding_left3Xl {
  padding-left: var(--token-BI7RVllCFHPg);
}
.containercontainerPadding_left4Xl {
  padding-left: var(--token-MAAfB48wCYlu);
}
.containercontainerPadding_right3Xs {
  padding-right: var(--token-goojsIB3YJJi);
}
.containercontainerPadding_right2Xs {
  padding-right: var(--token-CQEqmaG2zXba);
}
.containercontainerPadding_rightXs {
  padding-right: var(--token-0kkJ_RCIvo1e);
}
.containercontainerPadding_rightSm {
  padding-right: var(--token-tuVADwflmgFK);
}
.containercontainerPadding_rightMd {
  padding-right: var(--token-5H_PS-ymeexU);
}
.containercontainerPadding_rightLg {
  padding-right: var(--token-1lQbgUxQCErb);
}
.containercontainerPadding_rightXl {
  padding-right: var(--token-fYIGRN0B0ntf);
}
.containercontainerPadding_right2Xl {
  padding-right: var(--token-dJG3VOatYuai);
}
.containercontainerPadding_right3Xl {
  padding-right: var(--token-BI7RVllCFHPg);
}
.containercontainerPadding_right4Xl {
  padding-right: var(--token-MAAfB48wCYlu);
}
.containercontainerLayout_widthStretch {
  width: 100%;
  min-width: 0;
}
.containercontainerLayout_widthHug {
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
}
.containercontainerLayout_widthStretchStandard {
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.containercontainerLayout_widthStretchFull {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.containercontainerLayout_heightHug {
  height: auto;
}
.containercontainerLayout_heightStretch {
  height: 100%;
  min-height: 0;
}
.containercontainerLayout_verticalTop {
  align-items: flex-start;
  justify-content: flex-start;
}
.containercontainerLayout_verticalCenter {
  justify-content: center;
}
.containercontainerLayout_verticalBottom {
  justify-content: flex-end;
}
.containercontainerLayout_verticalBetween {
  justify-content: space-between;
}
.containercontainerLayout_verticalEvenly {
  justify-content: space-evenly;
}
.containercontainerLayout_verticalAround {
  justify-content: space-around;
}
.containercontainerLayout_horizontalLeft {
  align-items: flex-start;
}
.containercontainerLayout_horizontalCentered {
  align-items: center;
}
.containercontainerLayout_horizontalRight {
  align-items: flex-end;
}
.containercontainerLayout_horizontalStretch {
  align-items: stretch;
}
.containercontainerLayout_horizontalBaseline {
  align-items: baseline;
}
.containercontainerLayout_flipLayout {
  display: flex;
  flex-direction: row;
}
.containeroverflowVisible {
  overflow: visible;
}
.overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--token-9bXt9CqoYNJA);
}
.overlaybackgroundChanges_bright {
  background: var(--token-vp82SdJHFHtu);
}
.overlaybackgroundChanges_brighter {
  background: var(--token-uBr45Akb_Jtc);
}
.overlaybackgroundChanges_brightest {
  background: var(--token-Q_Y28gHXuqz3);
}
.overlaybackgroundChanges_contrast {
  background: var(--token-9Yu557T2Chd8);
}
.overlaybackgroundChanges_contraster {
  background: var(--token-nYxkLDJEOJkN);
}
.overlaybackgroundChanges_contrastest {
  background: var(--token-hMPwhUrj6k6A);
}
.overlayoverlayPadding_all3Xs {
  padding: var(--token-goojsIB3YJJi);
}
.overlayoverlayPadding_all2Xs {
  padding: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_allXs {
  padding: var(--token-0kkJ_RCIvo1e);
}
.overlayoverlayPadding_allSm {
  padding: var(--token-tuVADwflmgFK);
}
.overlayoverlayPadding_allMd {
  padding: var(--token-5H_PS-ymeexU);
}
.overlayoverlayPadding_allLg {
  padding: var(--token-1lQbgUxQCErb);
}
.overlayoverlayPadding_allXl {
  padding: var(--token-fYIGRN0B0ntf);
}
.overlayoverlayPadding_all2Xl {
  padding: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_all3Xl {
  padding: var(--token-BI7RVllCFHPg);
}
.overlayoverlayPadding_all4Xl {
  padding: var(--token-MAAfB48wCYlu);
}
.overlayoverlayPadding_top3Xs {
  padding-top: var(--token-goojsIB3YJJi);
}
.overlayoverlayPadding_top2Xs {
  padding-top: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_topXs {
  padding-top: var(--token-0kkJ_RCIvo1e);
}
.overlayoverlayPadding_topSm {
  padding-top: var(--token-tuVADwflmgFK);
}
.overlayoverlayPadding_topMd {
  padding-top: var(--token-5H_PS-ymeexU);
}
.overlayoverlayPadding_topLg {
  padding-top: var(--token-1lQbgUxQCErb);
}
.overlayoverlayPadding_topXl {
  padding-top: var(--token-fYIGRN0B0ntf);
}
.overlayoverlayPadding_top2Xl {
  padding-top: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_top3Xl {
  padding-top: var(--token-BI7RVllCFHPg);
}
.overlayoverlayPadding_top4Xl {
  padding-top: var(--token-MAAfB48wCYlu);
}
.overlayoverlayPadding_bottom3Xs {
  padding-bottom: var(--token-goojsIB3YJJi);
}
.overlayoverlayPadding_bottom2Xs {
  padding-bottom: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_bottomXs {
  padding-bottom: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_bottomSm {
  padding-bottom: var(--token-tuVADwflmgFK);
}
.overlayoverlayPadding_bottomMd {
  padding-bottom: var(--token-5H_PS-ymeexU);
}
.overlayoverlayPadding_bottomLg {
  padding-bottom: var(--token-1lQbgUxQCErb);
}
.overlayoverlayPadding_bottomXl {
  padding-bottom: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_bottom2Xl {
  padding-bottom: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_bottom3Xl {
  padding-bottom: var(--token-BI7RVllCFHPg);
}
.overlayoverlayPadding_bottom4Xl {
  padding-bottom: var(--token-MAAfB48wCYlu);
}
.overlayoverlayPadding_left3Xs {
  padding-left: var(--token-goojsIB3YJJi);
}
.overlayoverlayPadding_left2Xs {
  padding-left: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_leftXs {
  padding-left: var(--token-0kkJ_RCIvo1e);
}
.overlayoverlayPadding_leftSm {
  padding-left: var(--token-tuVADwflmgFK);
}
.overlayoverlayPadding_leftMd {
  padding-left: var(--token-5H_PS-ymeexU);
}
.overlayoverlayPadding_leftLg {
  padding-left: var(--token-1lQbgUxQCErb);
}
.overlayoverlayPadding_leftXl {
  padding-left: var(--token-fYIGRN0B0ntf);
}
.overlayoverlayPadding_left2Xl {
  padding-left: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_left3Xl {
  padding-left: var(--token-BI7RVllCFHPg);
}
.overlayoverlayPadding_left4Xl {
  padding-left: var(--token-MAAfB48wCYlu);
}
.overlayoverlayPadding_right3Xs {
  padding-right: var(--token-goojsIB3YJJi);
}
.overlayoverlayPadding_right2Xs {
  padding-right: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_rightXs {
  padding-right: var(--token-CQEqmaG2zXba);
}
.overlayoverlayPadding_rightSm {
  padding-right: var(--token-tuVADwflmgFK);
}
.overlayoverlayPadding_rightMd {
  padding-right: var(--token-5H_PS-ymeexU);
}
.overlayoverlayPadding_rightLg {
  padding-right: var(--token-1lQbgUxQCErb);
}
.overlayoverlayPadding_rightXl {
  padding-right: var(--token-fYIGRN0B0ntf);
}
.overlayoverlayPadding_right2Xl {
  padding-right: var(--token-dJG3VOatYuai);
}
.overlayoverlayPadding_right3Xl {
  padding-right: var(--token-BI7RVllCFHPg);
}
.overlayoverlayPadding_right4Xl {
  padding-right: var(--token-MAAfB48wCYlu);
}
.overlayoverlayLayout_widthStretch {
  width: 100%;
  min-width: 0;
}
.overlayoverlayLayout_widthHug {
  width: auto;
}
.overlayoverlayLayout_heightHug {
  height: auto;
}
.overlayoverlayLayout_heightStretch {
  height: 100%;
  min-height: 0;
}
.overlayoverlayLayout_verticalTop {
  justify-content: flex-start;
}
.overlayoverlayLayout_verticalCenter {
  justify-content: center;
}
.overlayoverlayLayout_verticalBottom {
  justify-content: flex-end;
}
.overlayoverlayLayout_verticalBetween {
  justify-content: space-between;
}
.overlayoverlayLayout_verticalEvenly {
  justify-content: space-evenly;
}
.overlayoverlayLayout_verticalAround {
  justify-content: space-around;
}
.overlayoverlayLayout_horizontalLeft {
  align-items: flex-start;
}
.overlayoverlayLayout_horizontalCenter {
  align-items: center;
}
.overlayoverlayLayout_horizontalRight {
  align-items: flex-end;
}
.overlayoverlayLayout_horizontalStretch {
  align-items: stretch;
}
.overlayoverlayLayout_horizontalBaseline {
  align-items: baseline;
}
.overlayoverlayLayout_flipLayout {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;
  padding: var(--token-9bXt9CqoYNJA);
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.contentcontentPadding_all3Xs {
  padding: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_all2Xs {
  padding: var(--token-CQEqmaG2zXba);
}
.contentcontentPadding_allXs {
  padding: var(--token-0kkJ_RCIvo1e);
}
.contentcontentPadding_allSm {
  padding: var(--token-tuVADwflmgFK);
}
.contentcontentPadding_allMd {
  padding: var(--token-5H_PS-ymeexU);
}
.contentcontentPadding_allLg {
  padding: var(--token-1lQbgUxQCErb);
}
.contentcontentPadding_allXl {
  padding: var(--token-fYIGRN0B0ntf);
}
.contentcontentPadding_all2Xl {
  padding: var(--token-dJG3VOatYuai);
}
.contentcontentPadding_all3Xl {
  padding: var(--token-BI7RVllCFHPg);
}
.contentcontentPadding_all4Xl {
  padding: var(--token-MAAfB48wCYlu);
}
.contentcontentPadding_top3Xs {
  padding-top: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_top2Xs {
  padding-top: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_topXs {
  padding-top: var(--token-CQEqmaG2zXba);
}
.contentcontentPadding_topSm {
  padding: var(--token-tuVADwflmgFK);
}
.contentcontentPadding_topMd {
  padding: var(--token-5H_PS-ymeexU);
}
.contentcontentPadding_topLg {
  padding-top: var(--token-1lQbgUxQCErb);
}
.contentcontentPadding_topXl {
  padding-top: var(--token-fYIGRN0B0ntf);
}
.contentcontentPadding_top2Xl {
  padding-top: var(--token-dJG3VOatYuai);
}
.contentcontentPadding_top3Xl {
  padding-top: var(--token-BI7RVllCFHPg);
}
.contentcontentPadding_top4Xl {
  padding-top: var(--token-MAAfB48wCYlu);
}
.contentcontentPadding_bottom3Xs {
  padding-bottom: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_bottom2Xs {
  padding-bottom: var(--token-CQEqmaG2zXba);
}
.contentcontentPadding_bottomXs {
  padding-bottom: var(--token-0kkJ_RCIvo1e);
}
.contentcontentPadding_bottomSm {
  padding-bottom: var(--token-tuVADwflmgFK);
}
.contentcontentPadding_bottomMd {
  padding-bottom: var(--token-5H_PS-ymeexU);
}
.contentcontentPadding_bottomLg {
  padding-bottom: var(--token-1lQbgUxQCErb);
}
.contentcontentPadding_bottomXl {
  padding-bottom: var(--token-fYIGRN0B0ntf);
}
.contentcontentPadding_bottom2Xl {
  padding-bottom: var(--token-dJG3VOatYuai);
}
.contentcontentPadding_bottom3Xl {
  padding-bottom: var(--token-BI7RVllCFHPg);
}
.contentcontentPadding_bottom4Xl {
  padding-bottom: var(--token-MAAfB48wCYlu);
}
.contentcontentPadding_left3Xs {
  padding-left: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_left2Xs {
  padding-left: var(--token-CQEqmaG2zXba);
}
.contentcontentPadding_leftXs {
  padding-left: var(--token-0kkJ_RCIvo1e);
}
.contentcontentPadding_leftSm {
  padding-left: var(--token-tuVADwflmgFK);
}
.contentcontentPadding_leftMd {
  padding-left: var(--token-5H_PS-ymeexU);
}
.contentcontentPadding_leftLg {
  padding-left: var(--token-1lQbgUxQCErb);
}
.contentcontentPadding_leftXl {
  padding-left: var(--token-fYIGRN0B0ntf);
}
.contentcontentPadding_left2Xl {
  padding-left: var(--token-dJG3VOatYuai);
}
.contentcontentPadding_left3Xl {
  padding-left: var(--token-BI7RVllCFHPg);
}
.contentcontentPadding_left4Xl {
  padding-left: var(--token-MAAfB48wCYlu);
}
.contentcontentPadding_right3Xs {
  padding-right: var(--token-goojsIB3YJJi);
}
.contentcontentPadding_right2Xs {
  padding-right: var(--token-CQEqmaG2zXba);
}
.contentcontentPadding_rightXs {
  padding-right: var(--token-0kkJ_RCIvo1e);
}
.contentcontentPadding_rightMd {
  padding-right: var(--token-5H_PS-ymeexU);
}
.contentcontentPadding_rightLg {
  padding-right: var(--token-1lQbgUxQCErb);
}
.contentcontentPadding_rightXl {
  padding-right: var(--token-fYIGRN0B0ntf);
}
.contentcontentPadding_right2Xl {
  padding-right: var(--token-dJG3VOatYuai);
}
.contentcontentPadding_right3Xl {
  padding-right: var(--token-BI7RVllCFHPg);
}
.contentcontentPadding_right4Xl {
  padding-right: var(--token-MAAfB48wCYlu);
}
.contentcontentLayout_widthStretch {
  width: 100%;
  min-width: 0;
}
.contentcontentLayout_widthStretch > :global(.__wab_flex-container) {
  min-width: 0;
}
.contentcontentLayout_widthHug {
  width: auto;
}
.contentcontentLayout_heightHug {
  height: auto;
}
.contentcontentLayout_heightStretch {
  height: 100%;
  min-height: 0;
}
.contentcontentLayout_heightStretch > :global(.__wab_flex-container) {
  min-height: 0;
}
.contentcontentLayout_verticalTop > :global(.__wab_flex-container) {
  justify-content: flex-start;
}
.contentcontentLayout_verticalCenter > :global(.__wab_flex-container) {
  justify-content: center;
}
.contentcontentLayout_verticalBottom > :global(.__wab_flex-container) {
  justify-content: flex-end;
}
.contentcontentLayout_verticalBetween > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.contentcontentLayout_verticalEvenly > :global(.__wab_flex-container) {
  justify-content: space-evenly;
}
.contentcontentLayout_verticalAround > :global(.__wab_flex-container) {
  justify-content: space-around;
}
.contentcontentLayout_horizontalLeft > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.contentcontentLayout_horizontalCenter > :global(.__wab_flex-container) {
  align-items: center;
}
.contentcontentLayout_horizontalRight > :global(.__wab_flex-container) {
  align-items: flex-end;
}
.contentcontentLayout_horizontalStretch > :global(.__wab_flex-container) {
  align-items: stretch;
}
.contentcontentLayout_horizontalBase > :global(.__wab_flex-container) {
  align-items: baseline;
}
.contentcontentLayout_flipLayout {
  display: flex;
  flex-direction: row;
}
.contentcontentLayout_flipLayout > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.contentcontentLayout_flipLayout > :global(.__wab_flex-container) > *,
.contentcontentLayout_flipLayout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentLayout_flipLayout
  > :global(.__wab_flex-container)
  > picture
  > img,
.contentcontentLayout_flipLayout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.contentcontentGap_xs > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-0DVncxPpHZrw));
  height: calc(100% + var(--token-0DVncxPpHZrw));
}
.contentcontentGap_xs > :global(.__wab_flex-container) > *,
.contentcontentGap_xs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap_xs > :global(.__wab_flex-container) > picture > img,
.contentcontentGap_xs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-0DVncxPpHZrw);
}
.contentcontentGap_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-zjzfIwen8N2N));
  height: calc(100% + var(--token-zjzfIwen8N2N));
}
.contentcontentGap_sm > :global(.__wab_flex-container) > *,
.contentcontentGap_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap_sm > :global(.__wab_flex-container) > picture > img,
.contentcontentGap_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-zjzfIwen8N2N);
}
.contentcontentGap_md > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-4UXp6mlaFDOt));
  height: calc(100% + var(--token-4UXp6mlaFDOt));
}
.contentcontentGap_md > :global(.__wab_flex-container) > *,
.contentcontentGap_md
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap_md > :global(.__wab_flex-container) > picture > img,
.contentcontentGap_md
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-4UXp6mlaFDOt);
}
.contentcontentGap_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-MBbmhKd9cJAx));
  height: calc(100% + var(--token-MBbmhKd9cJAx));
}
.contentcontentGap_lg > :global(.__wab_flex-container) > *,
.contentcontentGap_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap_lg > :global(.__wab_flex-container) > picture > img,
.contentcontentGap_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-MBbmhKd9cJAx);
}
.contentcontentGap_xl > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-E4MQvds0_DzP));
  height: calc(100% + var(--token-E4MQvds0_DzP));
}
.contentcontentGap_xl > :global(.__wab_flex-container) > *,
.contentcontentGap_xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap_xl > :global(.__wab_flex-container) > picture > img,
.contentcontentGap_xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-E4MQvds0_DzP);
}
.contentcontentGap__2Xl > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-C7QQmqyTtCma));
  height: calc(100% + var(--token-C7QQmqyTtCma));
}
.contentcontentGap__2Xl > :global(.__wab_flex-container) > *,
.contentcontentGap__2Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap__2Xl > :global(.__wab_flex-container) > picture > img,
.contentcontentGap__2Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-C7QQmqyTtCma);
}
.contentcontentGap__3Xl > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-ig3tkfrSyayA));
  height: calc(100% + var(--token-ig3tkfrSyayA));
}
.contentcontentGap__3Xl > :global(.__wab_flex-container) > *,
.contentcontentGap__3Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap__3Xl > :global(.__wab_flex-container) > picture > img,
.contentcontentGap__3Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-ig3tkfrSyayA);
}
.contentcontentGap__4Xl > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-WiHjBvTaZVMC));
  height: calc(100% + var(--token-WiHjBvTaZVMC));
}
.contentcontentGap__4Xl > :global(.__wab_flex-container) > *,
.contentcontentGap__4Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.contentcontentGap__4Xl > :global(.__wab_flex-container) > picture > img,
.contentcontentGap__4Xl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-WiHjBvTaZVMC);
}
.image {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.imageincludeImage {
  display: block;
}
.imageoverlayLayout_flipLayout {
  left: 0px;
  top: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.icon {
  flex-direction: column;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
  display: none;
}
.iconincludeIcon {
  display: flex;
}
.iconoverlayLayout_flipLayout {
  left: 0px;
  top: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
