.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.freeBoxsize_xxs {
  width: var(--token-NRYopZLrloX5);
  height: var(--token-NRYopZLrloX5);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_xs {
  width: var(--token-98pmln98wKyT);
  height: var(--token-S4bEol-lySdu);
  flex-shrink: 0;
}
.freeBoxsize_sm {
  width: var(--token-IWzHl2hOWKDW);
  height: var(--token-XKwVoT5m5H_J);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_md {
  width: var(--token-g884LbKZyxza);
  height: var(--token-IP4rnCns95mR);
  flex-shrink: 0;
}
.freeBoxsize_lg {
  width: var(--token-qVszCot_dDDY);
  height: var(--token-1IUn_NhlZ-Zp);
  flex-shrink: 0;
}
.freeBoxsize_xl {
  width: var(--token-4eCIG1ZkiqOO);
  height: var(--token-_zBa7xUD690C);
  flex-shrink: 0;
}
.freeBoxsize_xxl {
  width: var(--token-xQS4TCbs0Lb-);
  height: var(--token-JdPKcztF87Dd);
  flex-shrink: 0;
}
.freeBoxdisabled {
  opacity: 0.5;
}
.slotTargetChildren {
  color: #12121280;
}
.slotTargetChildrenboldColor_basic {
  color: var(--token-cRFpyIORwg8Y);
}
.slotTargetChildrenboldColor_themePrimary {
  color: var(--token-Wtfw1Krbnxb5);
}
.slotTargetChildrenboldColor_themeSecondary {
  color: var(--token-GR23TYf4gLgj);
}
.slotTargetChildrenboldColor_themeStandard {
  color: var(--token-osGqs_kCAB9j);
}
.slotTargetChildrenboldColor_success {
  color: var(--token-93CdaKL6VxaW);
}
.slotTargetChildrenboldColor_information {
  color: #186ade;
}
.slotTargetChildrenboldColor_warning {
  color: var(--token-jsfRPUeIFGG2);
}
.slotTargetChildrenboldColor_error {
  color: var(--token-Z-jMbnrLPISr);
}
.slotTargetChildrensubtleColor_themePrimary {
  color: var(--token-ND1ZSfesVTz1);
}
.slotTargetChildrensubtleColor_themeSecondary {
  color: var(--token-MpoXNrBJpzTL);
}
.slotTargetChildrensubtleColor_themeStandard {
  color: var(--token-pVRsPVG0kvmS);
}
.slotTargetChildrensubtleColor_success {
  color: var(--token-ohfyiy2Pju1Q);
}
.slotTargetChildrensubtleColor_information {
  color: var(--token-nDDFBRufXKN1);
}
.slotTargetChildrensubtleColor_warning {
  color: var(--token-yRKMd5PmxP0m);
}
.slotTargetChildrensubtleColor_error {
  color: var(--token-JoXw85kWrEZO);
}
.root:hover .slotTargetChildren {
  color: var(--token-2uNA2W2q86Ud);
}
.root:active .slotTargetChildren {
  color: var(--token-FhdK1e70XuGo);
}
.svg__fLv1R {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-cRFpyIORwg8Y);
  min-width: 0;
  min-height: 0;
}
