.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__t1PR {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__t1PR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t1PR > :global(.__wab_flex-container) > *,
.freeBox__t1PR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1PR > :global(.__wab_flex-container) > picture > img,
.freeBox__t1PR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1__pqb1H {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rTMzd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rTMzd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rTMzd > :global(.__wab_flex-container) > *,
.freeBox__rTMzd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rTMzd > :global(.__wab_flex-container) > picture > img,
.freeBox__rTMzd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yJ4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__dopdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-WwifPTV6KZp7);
  min-width: 0;
}
.text__rqrut {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3je87SVDOHS7);
  min-width: 0;
}
.text__l4A2E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fUzCOC3vxZlY);
  min-width: 0;
}
.text__eas8H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-4Zoc8-zGQurL);
  min-width: 0;
}
.text__zcUvu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uySMF48wP4bZ);
  min-width: 0;
}
.text__vwVpy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bF42hCk3vALG);
  min-width: 0;
}
.text__gy17L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qOLy3l9DSL1V);
  min-width: 0;
}
.text__haCgN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-6eB_8939qchN);
  min-width: 0;
}
.text__utjAm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jDJXVJyiLB2X);
  min-width: 0;
}
.freeBox__rFuBb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___4NaB9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-tRhvd6yOdAOQ);
  min-width: 0;
}
.text__gKcZb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-nLpvXPe26lHg);
  min-width: 0;
}
.text__w4Xcl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-nCi9uZU4MMBG);
  min-width: 0;
}
.text__mQzsv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-6Pc_D9LWxNMT);
  min-width: 0;
}
.text__wdUbx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-aBZV5erNjmV0);
  min-width: 0;
}
.text__ynWJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-tdAvJW8uufRk);
  min-width: 0;
}
.text__qiKc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-K2pD_7AVyruy);
  min-width: 0;
}
.text__oGKs3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_ta3mUiU85s1);
  min-width: 0;
}
.text__l4F6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ppdGkQKrSLtb);
  min-width: 0;
}
.freeBox__rwG5O {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__mvnGl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KGPO2kMkMnpK);
  min-width: 0;
}
.text__vUGk8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-vSYz4C7KzJWS);
  min-width: 0;
}
.text__a1KRg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sMLnhAvP0Udr);
  min-width: 0;
}
.text__rpuCm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_cfz5jS2TNUK);
  min-width: 0;
}
.text__djjAt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bQFZwRu8onx1);
  min-width: 0;
}
.text__bx3Ci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xGJIAQL0q22g);
  min-width: 0;
}
.text__xNfn8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LxtL2Zr8wWfY);
  min-width: 0;
}
.text__gcnR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-n_w9g1Ek7VAT);
  min-width: 0;
}
.text__xfkoq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kjcRcFyMxW0z);
  min-width: 0;
}
.freeBox__z14Ya {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__ujX9F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3sctROrDjD2p);
  min-width: 0;
}
.text__nm6Ou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-i2SPcMvpEMGE);
  min-width: 0;
}
.text__gSwp7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3ZqjufxsyArm);
  min-width: 0;
}
.text__wAcbK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FVxIRYV3HiT7);
  min-width: 0;
}
.text__ox5E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-SIuCixRniF72);
  min-width: 0;
}
.text___7OdwI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kmpmYp4QL8Lj);
  min-width: 0;
}
.text__wrGGi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kmpmYp4QL8Lj);
  min-width: 0;
}
.text___53Z5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-tUENvXva6SSK);
  min-width: 0;
}
.text__fhUpJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-j5gN08uq1MUt);
  min-width: 0;
}
.freeBox__mNh9C {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mNh9C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mNh9C > :global(.__wab_flex-container) > *,
.freeBox__mNh9C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mNh9C > :global(.__wab_flex-container) > picture > img,
.freeBox__mNh9C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ob3Sa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ob3Sa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ob3Sa > :global(.__wab_flex-container) > *,
.freeBox__ob3Sa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ob3Sa > :global(.__wab_flex-container) > picture > img,
.freeBox__ob3Sa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jCsQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-M9lU7LsdUQrD);
  min-width: 0;
}
.text__d00D3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FcWU9p68g7eK);
  min-width: 0;
}
.text__mChQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-0rAfWyld2Uyu);
  min-width: 0;
}
.text__ndCVd {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-48Fn5ZFrajif);
  min-width: 0;
}
.text___1Ar7N {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-K6th1w66aD-R);
  min-width: 0;
}
.text___80Y0M {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-yOfX6Gjhtq03);
  min-width: 0;
}
.text__v2X7C {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token--ZiL4mysYqk6);
  min-width: 0;
}
.text__ws5IM {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-umDxa7otClAM);
  min-width: 0;
}
.freeBox__xjFtG {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xjFtG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xjFtG > :global(.__wab_flex-container) > *,
.freeBox__xjFtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xjFtG > :global(.__wab_flex-container) > picture > img,
.freeBox__xjFtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gK0Hm {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jZctOfeoNyK5);
  min-width: 0;
}
.text__gf0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NL1r6Cf5SJIg);
  min-width: 0;
}
.text__lVhn7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-EJmouwcm_aJc);
  min-width: 0;
}
.text__ntVSs {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IxugBh5v1G7j);
  min-width: 0;
}
.text___09TMs {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-o_DLhjJYUvvP);
  min-width: 0;
}
.text__xtlLe {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xsCv1elf99aa);
  min-width: 0;
}
.text__eYeRo {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-EmTTIKMRWDOk);
  min-width: 0;
}
.text__kv8No {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bARsKQT35Q3Z);
  min-width: 0;
}
.freeBox__fyGfv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fyGfv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fyGfv > :global(.__wab_flex-container) > *,
.freeBox__fyGfv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fyGfv > :global(.__wab_flex-container) > picture > img,
.freeBox__fyGfv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iTwU2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fL_YENqKPH8S);
  min-width: 0;
}
.text__admvW {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-lNXnl-XEBnAU);
  min-width: 0;
}
.text__iNhyD {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-J8A7J-5suTIg);
  min-width: 0;
}
.text___0Qpnp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ejMEFgtWrPiJ);
  min-width: 0;
}
.text__lVm2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VOitaQ7X4tm1);
  min-width: 0;
}
.text__sohS3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VodL_H7MVKOH);
  min-width: 0;
}
.text__tweku {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Kxpa0mjWdB5S);
  min-width: 0;
}
.text__rwOHp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-0CTZ2W56M2zA);
  min-width: 0;
}
.freeBox__fxkB {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__fxkB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fxkB > :global(.__wab_flex-container) > *,
.freeBox__fxkB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fxkB > :global(.__wab_flex-container) > picture > img,
.freeBox__fxkB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1__cm52 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__o1Sk0 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__o1Sk0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__o1Sk0 > :global(.__wab_flex-container) > *,
.freeBox__o1Sk0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o1Sk0 > :global(.__wab_flex-container) > picture > img,
.freeBox__o1Sk0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1__i4Z34 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
