.root {
  display: flex;
  flex-direction: row;
  background: var(--token-7hcuJPlaYmqp);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  position: relative;
  height: var(--token-Z_XznrZjwceq);
  padding-left: var(--token-ETQCor1Wkm90);
  padding-right: var(--token-ETQCor1Wkm90);
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: var(--token-b4uJCYBglIzv);
  border: 0px solid var(--token-2PxS9uOmpJtG);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-Cs3EO77m53gH));
  width: calc(100% + var(--token-Cs3EO77m53gH));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-Cs3EO77m53gH);
}
.rootanatomy_outlined {
  background: none;
  border-width: 2px;
  border-color: var(--token-2PxS9uOmpJtG);
}
.rootanatomy_naked {
  border-style: none;
}
.rootanatomy_ghost {
  background: none;
}
.rootsize_small {
  height: var(--token-yFQDTzXUZaQI);
}
.rootsize_large {
  height: var(--token-y9Hem9vmLEoY);
  border-radius: var(--token-ad4poORBxV1r);
  padding: var(--token-zcs-pVsHgivq);
}
.rootsize_expressiveLarge {
  height: var(--token-y9Hem9vmLEoY);
  background: var(--token-7hcuJPlaYmqp);
  cursor: pointer;
  flex-direction: row;
  border-radius: var(--token-ad4poORBxV1r);
  padding: var(--token-zcs-pVsHgivq);
  border: 0px solid var(--token-2PxS9uOmpJtG);
}
.rootsize_expressiveLarge > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-Cs3EO77m53gH));
  width: calc(100% + var(--token-Cs3EO77m53gH));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootsize_expressiveLarge > :global(.__wab_flex-container) > *,
.rootsize_expressiveLarge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootsize_expressiveLarge > :global(.__wab_flex-container) > picture > img,
.rootsize_expressiveLarge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Cs3EO77m53gH);
  margin-top: 0px;
}
.rootshape_circle {
  border-radius: var(--token--RVThiaPb3ma);
  padding: var(--token-ZseIMxw94CIA) var(--token-10BV8D3CuUzQ);
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootshape_rounded {
  border-radius: var(--token-mTud4BUT_B4x);
}
.rootbackground_primary {
  background: var(--token-4TZYPXJrleUm);
}
.rootbackground_secondary {
  background: var(--token-FN0SZ5uiI5mQ);
}
.rootbackground_tertiary {
  background: var(--token-xtEnnOMU6KQl);
}
.rootbackground_destructive {
  background: var(--token--PHB9gzBIZpT);
}
.rootbackground_action {
  background: var(--token-jWwfiQsxNPd-);
}
.rootbackground_standard {
  background: var(--token-1ds7HanzG1eZ);
}
.roottext_primary {
  border-color: var(--token-cNXW9NyLyYoU);
}
.roottext_secondary {
  border-color: var(--token-L7xefacKajoG);
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rooticonOnly {
  padding-right: var(--token-Vkl6QDHWQvxQ);
}
.root:hover {
  background: linear-gradient(
      var(--token-7hcuJPlaYmqp),
      var(--token-7hcuJPlaYmqp)
    ),
    var(--token-rQqpxHUU5LQP);
}
.rootbackground_primary:hover {
  background: linear-gradient(
      var(--token-rQqpxHUU5LQP),
      var(--token-rQqpxHUU5LQP)
    ),
    var(--token-4TZYPXJrleUm);
}
.rootbackground_secondary:hover {
  background: linear-gradient(
      var(--token-rQqpxHUU5LQP),
      var(--token-rQqpxHUU5LQP)
    ),
    var(--token-FN0SZ5uiI5mQ);
}
.rootbackground_tertiary:hover {
  background: linear-gradient(
      var(--token-rQqpxHUU5LQP),
      var(--token-rQqpxHUU5LQP)
    ),
    var(--token-xtEnnOMU6KQl);
}
.rootbackground_destructive:hover {
  background: linear-gradient(
      var(--token-rQqpxHUU5LQP),
      var(--token-rQqpxHUU5LQP)
    ),
    var(--token--PHB9gzBIZpT);
}
.rootbackground_action:hover {
  background: linear-gradient(
      var(--token-rQqpxHUU5LQP),
      var(--token-rQqpxHUU5LQP)
    ),
    var(--token-jWwfiQsxNPd-);
}
.root:focus-within {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  background: linear-gradient(
      var(--token-7hcuJPlaYmqp),
      var(--token-7hcuJPlaYmqp)
    ),
    var(--token-RRjAe7FlwZZy);
  outline: none;
}
.rootbackground_primary:focus-within {
  background: linear-gradient(
      var(--token-kE7yZtsfFzcb),
      var(--token-kE7yZtsfFzcb)
    ),
    var(--token-4TZYPXJrleUm);
  outline: none;
}
.rootbackground_secondary:focus-within {
  background: linear-gradient(
      var(--token-kE7yZtsfFzcb),
      var(--token-kE7yZtsfFzcb)
    ),
    var(--token-FN0SZ5uiI5mQ);
  outline: none;
}
.rootbackground_tertiary:focus-within {
  background: linear-gradient(
      var(--token-kE7yZtsfFzcb),
      var(--token-kE7yZtsfFzcb)
    ),
    var(--token-xtEnnOMU6KQl);
  outline: none;
}
.rootbackground_destructive:focus-within {
  background: linear-gradient(
      var(--token-kE7yZtsfFzcb),
      var(--token-kE7yZtsfFzcb)
    ),
    var(--token--PHB9gzBIZpT);
  outline: none;
}
.rootbackground_action:focus-within {
  background: linear-gradient(
      var(--token-kE7yZtsfFzcb),
      var(--token-kE7yZtsfFzcb)
    ),
    var(--token-jWwfiQsxNPd-);
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  background: linear-gradient(
      var(--token-7hcuJPlaYmqp),
      var(--token-7hcuJPlaYmqp)
    ),
    var(--token-RRjAe7FlwZZy);
  outline: none;
}
.root___focusVisibleWithin_background_primary {
  background: linear-gradient(
      var(--token-RRjAe7FlwZZy),
      var(--token-RRjAe7FlwZZy)
    ),
    var(--token-4TZYPXJrleUm);
  outline: none;
}
.root___focusVisibleWithin_background_secondary {
  background: linear-gradient(
      var(--token-RRjAe7FlwZZy),
      var(--token-RRjAe7FlwZZy)
    ),
    var(--token-FN0SZ5uiI5mQ);
  outline: none;
}
.root___focusVisibleWithin_background_tertiary {
  background: linear-gradient(
      var(--token-RRjAe7FlwZZy),
      var(--token-RRjAe7FlwZZy)
    ),
    var(--token-xtEnnOMU6KQl);
  outline: none;
}
.root___focusVisibleWithin_background_destructive {
  background: linear-gradient(
      var(--token-RRjAe7FlwZZy),
      var(--token-RRjAe7FlwZZy)
    ),
    var(--token--PHB9gzBIZpT);
  outline: none;
}
.root___focusVisibleWithin_background_action {
  background: linear-gradient(
      var(--token-RRjAe7FlwZZy),
      var(--token-RRjAe7FlwZZy)
    ),
    var(--token-jWwfiQsxNPd-);
  outline: none;
}
.root:active {
  background: var(--token--q6x4i-QJlKF);
}
.rootbackground_primary:active {
  background: var(--token-4TZYPXJrleUm);
}
.rootbackground_secondary:active {
  background: var(--token-FN0SZ5uiI5mQ);
}
.rootbackground_tertiary:active {
  background: var(--token-xtEnnOMU6KQl);
}
.rootbackground_destructive:active {
  background: var(--token--PHB9gzBIZpT);
}
.rootbackground_action:active {
  background: var(--token-jWwfiQsxNPd-);
}
.contentGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.contentGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-vhF35Q0JqPwL));
  width: calc(100% + var(--token-vhF35Q0JqPwL));
}
.contentGroup > :global(.__wab_flex-container) > *,
.contentGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentGroup > :global(.__wab_flex-container) > picture > img,
.contentGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vhF35Q0JqPwL);
}
.startIconContainer {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
  display: none;
}
.startIconContaineranatomy_solid {
  display: none;
}
.startIconContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.startIconContainericonOnly {
  display: flex;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconanatomy_outlined {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetStartIconanatomy_ghost {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetStartIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIcontext_primary {
  color: var(--token-powVBdMmSECs);
}
.slotTargetStartIcontext_secondary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetStartIcontext_tertiary {
  color: var(--token-M_tBOar_t76E);
}
.slotTargetStartIcontext_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetStartIcontext_action {
  color: var(--token-9yW6jetbzSV8);
}
.rootanatomy_outlined:hover .slotTargetStartIconanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:hover .slotTargetStartIconanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_outlined:active .slotTargetStartIconanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:active .slotTargetStartIconanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.svg__heUm7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.labelContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-B1kSDB6XpDES);
  font-weight: 500;
  white-space: pre;
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
}
.slotTargetChildrenanatomy_outlined {
  color: var(--token-hMtGWHIOQZBL);
}
.slotTargetChildrenanatomy_ghost {
  color: var(--token-hMtGWHIOQZBL);
}
.slotTargetChildrensize_small {
  font-size: 0.75rem;
}
.slotTargetChildrensize_large {
  font-size: 1.25rem;
}
.slotTargetChildrensize_expressiveLarge {
  font-size: 1.5rem;
}
.slotTargetChildrenbackground_secondary {
  color: var(--token-2AiSuX3qcmlO);
}
.slotTargetChildrenbackground_tertiary {
  color: var(--token-2AiSuX3qcmlO);
}
.slotTargetChildrenbackground_destructive {
  color: var(--token-2AiSuX3qcmlO);
}
.slotTargetChildrenbackground_action {
  color: var(--token-2AiSuX3qcmlO);
}
.slotTargetChildrentext_primary {
  color: var(--token-cfENgdNqfEaM);
}
.slotTargetChildrentext_secondary {
  color: var(--token-spqdZ9hpW5TQ);
}
.slotTargetChildrentext_tertiary {
  color: var(--token-3HkJ21bcIwF2);
}
.slotTargetChildrentext_destructive {
  color: var(--token-nqGJiF96z8hF);
}
.slotTargetChildrentext_action {
  color: var(--token-EVta4tF-m8aY);
}
.slotTargetChildrentext_standard {
  color: var(--token-FXTBt9H2yZLG);
}
.rootanatomy_outlined:hover .slotTargetChildrenanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:hover .slotTargetChildrenanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_outlined:active .slotTargetChildrenanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:active .slotTargetChildrenanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.text___1WRuC {
  align-self: center;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
  display: none;
}
.endIconContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconanatomy_outlined {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetEndIconanatomy_ghost {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetEndIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcontext_primary {
  color: var(--token-powVBdMmSECs);
}
.slotTargetEndIcontext_secondary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetEndIcontext_tertiary {
  color: var(--token-M_tBOar_t76E);
}
.slotTargetEndIcontext_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIcontext_action {
  color: var(--token-9yW6jetbzSV8);
}
.rootanatomy_outlined:hover .slotTargetEndIconanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:hover .slotTargetEndIconanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_outlined:active .slotTargetEndIconanatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:active .slotTargetEndIconanatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.svg__hWj1Q {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.actionGroup {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.actionContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
}
.actionContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.slotTargetEndIcon2 {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2anatomy_outlined {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetEndIcon2anatomy_naked {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetEndIcon2anatomy_ghost {
  color: var(--token-S-gem7nzFGBs);
}
.slotTargetEndIcon2background_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2background_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2background_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2text_primary {
  color: var(--token-powVBdMmSECs);
}
.slotTargetEndIcon2text_secondary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetEndIcon2text_tertiary {
  color: var(--token-M_tBOar_t76E);
}
.slotTargetEndIcon2text_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIcon2text_action {
  color: var(--token-9yW6jetbzSV8);
}
.rootanatomy_outlined:hover .slotTargetEndIcon2anatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:hover .slotTargetEndIcon2anatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_outlined:active .slotTargetEndIcon2anatomy_outlined {
  color: var(--token-2AiSuX3qcmlO);
}
.rootanatomy_naked:active .slotTargetEndIcon2anatomy_naked {
  color: var(--token-2AiSuX3qcmlO);
}
.svg__yjIu8 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
