.listGroupBase {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: auto;
}
.listGroupGrid {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row-gap: var(--token-GO1UTCayvGBp);
  grid-column-gap: var(--token-GO1UTCayvGBp);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 8px;
}
.listGroupGridcolumns__2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.listGroupGridcolumns__3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.listGroupGridcolumns__4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.listGroupGridcolumns__6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.listItemStack1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.listItemStack1removalOfItems__1 {
  display: none;
}
.listItem__wTrNq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uhw5J {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__f8K46 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack2removalOfItems__2 {
  display: none;
}
.listItem___5P9U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5Q0WD {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sbluw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack3removalOfItems__3 {
  display: none;
}
.listItem__lw36I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vuvUc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___0HEW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack4removalOfItems__4 {
  display: none;
}
.listItem__lX7H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nHpr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__y2Rj6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack5removalOfItems__5 {
  display: none;
}
.listItem__qhyiZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3RUM {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__caUaw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack6removalOfItems__6 {
  display: none;
}
.listItem__jLt4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1EhrM {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___4K2Aj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Abhaya Libre", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack7removalOfItems__7 {
  display: none;
}
.listItem__r1CgD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nhqnC {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__o0SN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.listItemStack8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack8removalOfItems__8 {
  display: none;
}
.listItem__l43N5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__frzmW {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fwMQi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack9removalOfItems__9 {
  display: none;
}
.listItem__e8C4V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__swecQ {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uMhpr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack10removalOfItems__10 {
  display: none;
}
.listItem__x1Wh6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jZsHc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__t7J3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack11removalOfItems__11 {
  display: none;
}
.listItem__akFh3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xZpXn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__flaQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack12removalOfItems__12 {
  display: none;
}
.listItem__hnNqK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yucXf {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9YIT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
