@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-6V_eAaUUVvzN: var(--token-xZ2klggI5XbJ);
  --plasmic-token-card-background-brand-bold-main-color: var(
    --token-6V_eAaUUVvzN
  );
  --token-6JXHAr_z2fZS: var(--token-lwNU-2BKlR7L);
  --plasmic-token-card-background-brand-bold-ancillary-color: var(
    --token-6JXHAr_z2fZS
  );
  --token-88vjIi0BR9Es: var(--token-DfkTqbzYJOdi);
  --plasmic-token-card-background-brand-bold-accent-color: var(
    --token-88vjIi0BR9Es
  );
  --token-N4ue4LX6ioUn: var(--token-bVrfp7tpXQ2b);
  --plasmic-token-card-background-brand-sublte-main-color: var(
    --token-N4ue4LX6ioUn
  );
  --token-TJBT9KLaccN3: var(--token-pVRsPVG0kvmS);
  --plasmic-token-card-background-brand-subtle-accent-color: var(
    --token-TJBT9KLaccN3
  );
  --token-vIRTTgHfdNWV: var(--token-MpoXNrBJpzTL);
  --plasmic-token-card-background-brand-subtle-ancillary-color: var(
    --token-vIRTTgHfdNWV
  );
  --token-veKp6Wvc0Fjx: var(--token-DaddpvAxOr0M);
  --plasmic-token-card-background-brand-bold-standard-color: var(
    --token-veKp6Wvc0Fjx
  );
  --token-FbFNE_rn8Jaw: var(--token-zCFTBUQhnxXv);
  --plasmic-token-card-background-brand-subtle-standard-color: var(
    --token-FbFNE_rn8Jaw
  );
  --token-8iGcG7QIizD7: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-card-padding-default: var(--token-8iGcG7QIizD7);
  --token-BCoZloYLpRMQ: #ffffff00;
  --plasmic-token-card-background-clear: var(--token-BCoZloYLpRMQ);
  --token-dgt5YlA0fUxn: var(--token-3YfeYBOUJRlS);
  --plasmic-token-card-radii-default: var(--token-dgt5YlA0fUxn);
  --token-AkR87bcE3d_6: var(--token-6WVZWyU4A9gH);
  --plasmic-token-card-radii-lg: var(--token-AkR87bcE3d_6);
  --token-HgvKtqTWIjKH: var(--token-3YfeYBOUJRlS);
  --plasmic-token-card-radii-md: var(--token-HgvKtqTWIjKH);
  --token-G2nSOswoCGb2: var(--token-6aQE6n7Ryiwe);
  --plasmic-token-card-radii-sm: var(--token-G2nSOswoCGb2);
  --token-feSuXwS11bgU: var(--token-yi9ryH5tK1Nr);
  --plasmic-token-card-radii-xl: var(--token-feSuXwS11bgU);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wOdUB-Wsehxq_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-wOdUB-Wsehxq_font-size: 1rem;
  --mixin-wOdUB-Wsehxq_font-weight: 400;
  --mixin-wOdUB-Wsehxq_font-style: normal;
  --mixin-wOdUB-Wsehxq_color: var(--token-ZdI-W5zQ8q52);
  --mixin-wOdUB-Wsehxq_text-align: left;
  --mixin-wOdUB-Wsehxq_text-transform: none;
  --mixin-wOdUB-Wsehxq_line-height: 1.5rem;
  --mixin-wOdUB-Wsehxq_letter-spacing: normal;
  --mixin-wOdUB-Wsehxq_white-space: pre-wrap;
  --mixin-wOdUB-Wsehxq_user-select: text;
  --mixin-wOdUB-Wsehxq_text-decoration-line: none;
  --mixin-wOdUB-Wsehxq_text-overflow: clip;
  --mixin-3HK5UoIW5sGF_color: var(--token-ZdI-W5zQ8q52);
  --mixin-3HK5UoIW5sGF_font-size: 2.25rem;
  --mixin-3HK5UoIW5sGF_font-weight: 600;
  --mixin-3HK5UoIW5sGF_letter-spacing: -0.5px;
  --mixin-3HK5UoIW5sGF_line-height: 3rem;
  --mixin-3HK5UoIW5sGF_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-3HK5UoIW5sGF_white-space: pre-wrap;
  --mixin-GngUrlbeC4dA_color: var(--token-ZdI-W5zQ8q52);
  --mixin-GngUrlbeC4dA_font-size: 2rem;
  --mixin-GngUrlbeC4dA_font-weight: 600;
  --mixin-GngUrlbeC4dA_letter-spacing: -0.3px;
  --mixin-GngUrlbeC4dA_line-height: 3rem;
  --mixin-GngUrlbeC4dA_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-GngUrlbeC4dA_white-space: pre-wrap;
  --mixin-RtXdbWtf9FgM_color: var(--token-ZdI-W5zQ8q52);
  --mixin-RtXdbWtf9FgM_font-size: 1.5rem;
  --mixin-RtXdbWtf9FgM_font-weight: 600;
  --mixin-RtXdbWtf9FgM_line-height: 2.25rem;
  --mixin-RtXdbWtf9FgM_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-RtXdbWtf9FgM_white-space: pre-wrap;
  --mixin-QVeAqBdMs3ml_color: var(--token-ZdI-W5zQ8q52);
  --mixin-QVeAqBdMs3ml_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-QVeAqBdMs3ml_font-size: 1rem;
  --mixin-QVeAqBdMs3ml_white-space: pre-wrap;
  --mixin--xHO58oEUuap_border-left-color: #dddddd;
  --mixin--xHO58oEUuap_border-left-style: solid;
  --mixin--xHO58oEUuap_border-left-width: 3px;
  --mixin--xHO58oEUuap_color: #888888;
  --mixin--xHO58oEUuap_padding-left: 10px;
  --mixin--xHO58oEUuap_white-space: pre-wrap;
  --mixin-IhtDFyljXu0a_color: var(--token-ZdI-W5zQ8q52);
  --mixin-IhtDFyljXu0a_font-size: 3.8rem;
  --mixin-IhtDFyljXu0a_font-weight: 700;
  --mixin-IhtDFyljXu0a_letter-spacing: -1px;
  --mixin-IhtDFyljXu0a_line-height: 3.75rem;
  --mixin-IhtDFyljXu0a_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-IhtDFyljXu0a_white-space: pre-wrap;
  --mixin-JdTiYhYX7g_J_color: var(--token-ZdI-W5zQ8q52);
  --mixin-JdTiYhYX7g_J_font-size: 3rem;
  --mixin-JdTiYhYX7g_J_font-weight: 700;
  --mixin-JdTiYhYX7g_J_line-height: 3.48rem;
  --mixin-JdTiYhYX7g_J_letter-spacing: -0.5px;
  --mixin-JdTiYhYX7g_J_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-JdTiYhYX7g_J_white-space: pre-wrap;
  --mixin-lifo805v43OR_color: var(--token-ZdI-W5zQ8q52);
  --mixin-lifo805v43OR_font-size: 2.69rem;
  --mixin-lifo805v43OR_font-weight: 600;
  --mixin-lifo805v43OR_line-height: 3.2rem;
  --mixin-lifo805v43OR_font-family: var(--token-cLdjOiKgbMgX);
  --mixin-lifo805v43OR_white-space: pre-wrap;
  --mixin-mep9dhhRqwvn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mep9dhhRqwvn_border-bottom-color: #dddddd;
  --mixin-mep9dhhRqwvn_border-bottom-style: solid;
  --mixin-mep9dhhRqwvn_border-bottom-width: 1px;
  --mixin-mep9dhhRqwvn_border-left-color: #dddddd;
  --mixin-mep9dhhRqwvn_border-left-style: solid;
  --mixin-mep9dhhRqwvn_border-left-width: 1px;
  --mixin-mep9dhhRqwvn_border-right-color: #dddddd;
  --mixin-mep9dhhRqwvn_border-right-style: solid;
  --mixin-mep9dhhRqwvn_border-right-width: 1px;
  --mixin-mep9dhhRqwvn_border-top-color: #dddddd;
  --mixin-mep9dhhRqwvn_border-top-style: solid;
  --mixin-mep9dhhRqwvn_border-top-width: 1px;
  --mixin-mep9dhhRqwvn_border-bottom-left-radius: 3px;
  --mixin-mep9dhhRqwvn_border-bottom-right-radius: 3px;
  --mixin-mep9dhhRqwvn_border-top-left-radius: 3px;
  --mixin-mep9dhhRqwvn_border-top-right-radius: 3px;
  --mixin-mep9dhhRqwvn_font-family: "Inconsolata";
  --mixin-mep9dhhRqwvn_padding-bottom: 1px;
  --mixin-mep9dhhRqwvn_padding-left: 4px;
  --mixin-mep9dhhRqwvn_padding-right: 4px;
  --mixin-mep9dhhRqwvn_padding-top: 1px;
  --mixin-mep9dhhRqwvn_white-space: pre-wrap;
  --mixin-c_BZqDEAwh4s_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-c_BZqDEAwh4s_border-bottom-color: #dddddd;
  --mixin-c_BZqDEAwh4s_border-bottom-style: solid;
  --mixin-c_BZqDEAwh4s_border-bottom-width: 1px;
  --mixin-c_BZqDEAwh4s_border-left-color: #dddddd;
  --mixin-c_BZqDEAwh4s_border-left-style: solid;
  --mixin-c_BZqDEAwh4s_border-left-width: 1px;
  --mixin-c_BZqDEAwh4s_border-right-color: #dddddd;
  --mixin-c_BZqDEAwh4s_border-right-style: solid;
  --mixin-c_BZqDEAwh4s_border-right-width: 1px;
  --mixin-c_BZqDEAwh4s_border-top-color: #dddddd;
  --mixin-c_BZqDEAwh4s_border-top-style: solid;
  --mixin-c_BZqDEAwh4s_border-top-width: 1px;
  --mixin-c_BZqDEAwh4s_border-bottom-left-radius: 3px;
  --mixin-c_BZqDEAwh4s_border-bottom-right-radius: 3px;
  --mixin-c_BZqDEAwh4s_border-top-left-radius: 3px;
  --mixin-c_BZqDEAwh4s_border-top-right-radius: 3px;
  --mixin-c_BZqDEAwh4s_font-family: "Inconsolata";
  --mixin-c_BZqDEAwh4s_padding-bottom: 3px;
  --mixin-c_BZqDEAwh4s_padding-left: 6px;
  --mixin-c_BZqDEAwh4s_padding-right: 6px;
  --mixin-c_BZqDEAwh4s_padding-top: 3px;
  --mixin-c_BZqDEAwh4s_white-space: pre-wrap;
  --mixin-SFFQ11yDiGMQ_display: flex;
  --mixin-SFFQ11yDiGMQ_flex-direction: column;
  --mixin-SFFQ11yDiGMQ_align-items: stretch;
  --mixin-SFFQ11yDiGMQ_justify-content: flex-start;
  --mixin-SFFQ11yDiGMQ_list-style-position: outside;
  --mixin-SFFQ11yDiGMQ_padding-left: 40px;
  --mixin-SFFQ11yDiGMQ_position: relative;
  --mixin-SFFQ11yDiGMQ_list-style-type: decimal;
  --mixin-SFFQ11yDiGMQ_white-space: pre-wrap;
  --mixin-SqKGUkgxveEj_display: flex;
  --mixin-SqKGUkgxveEj_flex-direction: column;
  --mixin-SqKGUkgxveEj_align-items: stretch;
  --mixin-SqKGUkgxveEj_justify-content: flex-start;
  --mixin-SqKGUkgxveEj_list-style-position: outside;
  --mixin-SqKGUkgxveEj_padding-left: 40px;
  --mixin-SqKGUkgxveEj_position: relative;
  --mixin-SqKGUkgxveEj_list-style-type: disc;
  --mixin-SqKGUkgxveEj_white-space: pre-wrap;
  --mixin-mAhcXtNv1DCm_color: #3291ff;
  --mixin-mAhcXtNv1DCm_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wOdUB-Wsehxq_font-family);
  font-size: var(--mixin-wOdUB-Wsehxq_font-size);
  font-weight: var(--mixin-wOdUB-Wsehxq_font-weight);
  font-style: var(--mixin-wOdUB-Wsehxq_font-style);
  color: var(--mixin-wOdUB-Wsehxq_color);
  text-align: var(--mixin-wOdUB-Wsehxq_text-align);
  text-transform: var(--mixin-wOdUB-Wsehxq_text-transform);
  line-height: var(--mixin-wOdUB-Wsehxq_line-height);
  letter-spacing: var(--mixin-wOdUB-Wsehxq_letter-spacing);
  white-space: var(--mixin-wOdUB-Wsehxq_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-3HK5UoIW5sGF_color);
  font-size: var(--mixin-3HK5UoIW5sGF_font-size);
  font-weight: var(--mixin-3HK5UoIW5sGF_font-weight);
  letter-spacing: var(--mixin-3HK5UoIW5sGF_letter-spacing);
  line-height: var(--mixin-3HK5UoIW5sGF_line-height);
  font-family: var(--mixin-3HK5UoIW5sGF_font-family);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-GngUrlbeC4dA_color);
  font-size: var(--mixin-GngUrlbeC4dA_font-size);
  font-weight: var(--mixin-GngUrlbeC4dA_font-weight);
  letter-spacing: var(--mixin-GngUrlbeC4dA_letter-spacing);
  line-height: var(--mixin-GngUrlbeC4dA_line-height);
  font-family: var(--mixin-GngUrlbeC4dA_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-RtXdbWtf9FgM_color);
  font-size: var(--mixin-RtXdbWtf9FgM_font-size);
  font-weight: var(--mixin-RtXdbWtf9FgM_font-weight);
  line-height: var(--mixin-RtXdbWtf9FgM_line-height);
  font-family: var(--mixin-RtXdbWtf9FgM_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-QVeAqBdMs3ml_color);
  font-family: var(--mixin-QVeAqBdMs3ml_font-family);
  font-size: var(--mixin-QVeAqBdMs3ml_font-size);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--xHO58oEUuap_color);
  padding-left: var(--mixin--xHO58oEUuap_padding-left);
  border-left: var(--mixin--xHO58oEUuap_border-left-width)
    var(--mixin--xHO58oEUuap_border-left-style)
    var(--mixin--xHO58oEUuap_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IhtDFyljXu0a_color);
  font-size: var(--mixin-IhtDFyljXu0a_font-size);
  font-weight: var(--mixin-IhtDFyljXu0a_font-weight);
  letter-spacing: var(--mixin-IhtDFyljXu0a_letter-spacing);
  line-height: var(--mixin-IhtDFyljXu0a_line-height);
  font-family: var(--mixin-IhtDFyljXu0a_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-JdTiYhYX7g_J_color);
  font-size: var(--mixin-JdTiYhYX7g_J_font-size);
  font-weight: var(--mixin-JdTiYhYX7g_J_font-weight);
  line-height: var(--mixin-JdTiYhYX7g_J_line-height);
  letter-spacing: var(--mixin-JdTiYhYX7g_J_letter-spacing);
  font-family: var(--mixin-JdTiYhYX7g_J_font-family);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-lifo805v43OR_color);
  font-size: var(--mixin-lifo805v43OR_font-size);
  font-weight: var(--mixin-lifo805v43OR_font-weight);
  line-height: var(--mixin-lifo805v43OR_line-height);
  font-family: var(--mixin-lifo805v43OR_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mep9dhhRqwvn_font-family);
  border-radius: var(--mixin-mep9dhhRqwvn_border-top-left-radius)
    var(--mixin-mep9dhhRqwvn_border-top-right-radius)
    var(--mixin-mep9dhhRqwvn_border-bottom-right-radius)
    var(--mixin-mep9dhhRqwvn_border-bottom-left-radius);
  padding: var(--mixin-mep9dhhRqwvn_padding-top)
    var(--mixin-mep9dhhRqwvn_padding-right)
    var(--mixin-mep9dhhRqwvn_padding-bottom)
    var(--mixin-mep9dhhRqwvn_padding-left);
  border-top: var(--mixin-mep9dhhRqwvn_border-top-width)
    var(--mixin-mep9dhhRqwvn_border-top-style)
    var(--mixin-mep9dhhRqwvn_border-top-color);
  border-right: var(--mixin-mep9dhhRqwvn_border-right-width)
    var(--mixin-mep9dhhRqwvn_border-right-style)
    var(--mixin-mep9dhhRqwvn_border-right-color);
  border-bottom: var(--mixin-mep9dhhRqwvn_border-bottom-width)
    var(--mixin-mep9dhhRqwvn_border-bottom-style)
    var(--mixin-mep9dhhRqwvn_border-bottom-color);
  border-left: var(--mixin-mep9dhhRqwvn_border-left-width)
    var(--mixin-mep9dhhRqwvn_border-left-style)
    var(--mixin-mep9dhhRqwvn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-c_BZqDEAwh4s_font-family);
  border-radius: var(--mixin-c_BZqDEAwh4s_border-top-left-radius)
    var(--mixin-c_BZqDEAwh4s_border-top-right-radius)
    var(--mixin-c_BZqDEAwh4s_border-bottom-right-radius)
    var(--mixin-c_BZqDEAwh4s_border-bottom-left-radius);
  padding: var(--mixin-c_BZqDEAwh4s_padding-top)
    var(--mixin-c_BZqDEAwh4s_padding-right)
    var(--mixin-c_BZqDEAwh4s_padding-bottom)
    var(--mixin-c_BZqDEAwh4s_padding-left);
  border-top: var(--mixin-c_BZqDEAwh4s_border-top-width)
    var(--mixin-c_BZqDEAwh4s_border-top-style)
    var(--mixin-c_BZqDEAwh4s_border-top-color);
  border-right: var(--mixin-c_BZqDEAwh4s_border-right-width)
    var(--mixin-c_BZqDEAwh4s_border-right-style)
    var(--mixin-c_BZqDEAwh4s_border-right-color);
  border-bottom: var(--mixin-c_BZqDEAwh4s_border-bottom-width)
    var(--mixin-c_BZqDEAwh4s_border-bottom-style)
    var(--mixin-c_BZqDEAwh4s_border-bottom-color);
  border-left: var(--mixin-c_BZqDEAwh4s_border-left-width)
    var(--mixin-c_BZqDEAwh4s_border-left-style)
    var(--mixin-c_BZqDEAwh4s_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SFFQ11yDiGMQ_display);
  flex-direction: var(--mixin-SFFQ11yDiGMQ_flex-direction);
  align-items: var(--mixin-SFFQ11yDiGMQ_align-items);
  justify-content: var(--mixin-SFFQ11yDiGMQ_justify-content);
  list-style-position: var(--mixin-SFFQ11yDiGMQ_list-style-position);
  padding-left: var(--mixin-SFFQ11yDiGMQ_padding-left);
  position: var(--mixin-SFFQ11yDiGMQ_position);
  list-style-type: var(--mixin-SFFQ11yDiGMQ_list-style-type);
  flex-column-gap: var(--mixin-SFFQ11yDiGMQ_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-SqKGUkgxveEj_display);
  flex-direction: var(--mixin-SqKGUkgxveEj_flex-direction);
  align-items: var(--mixin-SqKGUkgxveEj_align-items);
  justify-content: var(--mixin-SqKGUkgxveEj_justify-content);
  list-style-position: var(--mixin-SqKGUkgxveEj_list-style-position);
  padding-left: var(--mixin-SqKGUkgxveEj_padding-left);
  position: var(--mixin-SqKGUkgxveEj_position);
  list-style-type: var(--mixin-SqKGUkgxveEj_list-style-type);
  flex-column-gap: var(--mixin-SqKGUkgxveEj_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-mAhcXtNv1DCm_color);
}
