.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.freeBoxisDisabled {
  opacity: 0.5;
}
.freeBoxsize_body3Xl {
  width: var(--token-8UbsZJIpRMB_);
  height: var(--token-8UbsZJIpRMB_);
  flex-shrink: 0;
}
.freeBoxsize_heading2Xl {
  width: var(--token-8UbsZJIpRMB_);
  height: var(--token-8UbsZJIpRMB_);
  flex-shrink: 0;
}
.freeBoxsize_heading3Xl {
  width: var(--token-8UbsZJIpRMB_);
  height: var(--token-8UbsZJIpRMB_);
  flex-shrink: 0;
}
.slotTargetChildren {
  color: var(--token-cRFpyIORwg8Y);
}
.slotTargetChildrensize_body2Xs {
  font-size: var(--token-e_9E-0k9gOQs);
}
.slotTargetChildrensize_bodyXs {
  font-size: var(--token-AVk_w-j_4g4x);
}
.slotTargetChildrensize_bodySm {
  font-size: var(--token-nZ2jRQvvHwPl);
}
.slotTargetChildrensize_bodyMd {
  font-size: var(--token-o9gNPQs_chqn);
}
.slotTargetChildrensize_bodyLg {
  font-size: var(--token-GchwEUkMqHDv);
}
.slotTargetChildrensize_bodyXl {
  font-size: var(--token-m93XQIGKR3_9);
}
.slotTargetChildrensize_body3Xl {
  font-size: var(--token-9N9BpPjk3BrZ);
}
.slotTargetChildrensize_heading4Xl {
  font-size: var(--token-qFznZhg2lzq4);
}
.slotTargetChildrensize_heading5Xl {
  font-size: var(--token-t81MzC1nvZSN);
}
.slotTargetChildrensize_headingXl {
  font-size: var(--token-GlROTqsfapk2);
}
.slotTargetChildrensize_headingLg {
  font-size: var(--token-6A5fyfk_w9UV);
}
.slotTargetChildrensize_headingMd {
  font-size: var(--token-KBEj3K9HZ4iV);
}
.slotTargetChildrenboldColor_basic {
  color: var(--token-cRFpyIORwg8Y);
}
.slotTargetChildrenboldColor_themePrimary {
  color: var(--token-pWAM8O0zSelI);
}
.slotTargetChildrenboldColor_themeSecondary {
  color: var(--token-BiI4-TKsEOyE);
}
.slotTargetChildrenboldColor_themeStandard {
  color: var(--token-PV-3TuJlgz5d);
}
.slotTargetChildrenboldColor_success {
  color: var(--token-93CdaKL6VxaW);
}
.slotTargetChildrenboldColor_information {
  color: var(--token-o6rvTyGapE0-);
}
.slotTargetChildrenboldColor_warning {
  color: var(--token-jsfRPUeIFGG2);
}
.slotTargetChildrenboldColor_error {
  color: var(--token-Z-jMbnrLPISr);
}
.slotTargetChildrensubtleColor_themePrimary {
  color: var(--token-Keqx5L2eGEEh);
}
.slotTargetChildrensubtleColor_themeSecondary {
  color: var(--token-MpoXNrBJpzTL);
}
.slotTargetChildrensubtleColor_themeStandard {
  color: var(--token-pVRsPVG0kvmS);
}
.slotTargetChildrensubtleColor_success {
  color: var(--token-ohfyiy2Pju1Q);
}
.slotTargetChildrensubtleColor_information {
  color: var(--token-nDDFBRufXKN1);
}
.slotTargetChildrensubtleColor_warning {
  color: var(--token-yRKMd5PmxP0m);
}
.slotTargetChildrensubtleColor_error {
  color: var(--token-JoXw85kWrEZO);
}
.svg__pSqZn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
