.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  padding: var(--token-gX7wDxh76h7C);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.freeBoxsize_xxs {
  width: var(--token-EIjKudRy0txv);
  height: var(--token-EIjKudRy0txv);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_xs {
  width: var(--token-EIjKudRy0txv);
  height: var(--token-EIjKudRy0txv);
  flex-shrink: 0;
}
.freeBoxsize_sm {
  width: var(--token-KaPc7LWHkyvB);
  height: var(--token-KaPc7LWHkyvB);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_md {
  width: var(--token-aexU-vAUAEga);
  height: var(--token-aexU-vAUAEga);
  flex-shrink: 0;
}
.freeBoxsize_lg {
  width: var(--token-EgNZEGGu_U6n);
  height: var(--token-EgNZEGGu_U6n);
  flex-shrink: 0;
}
.freeBoxsize_xl {
  width: var(--token-1HkcZ6pMPlz4);
  height: var(--token-1HkcZ6pMPlz4);
  flex-shrink: 0;
}
.freeBoxsize_xxl {
  width: var(--token-8UbsZJIpRMB_);
  height: var(--token-8UbsZJIpRMB_);
  flex-shrink: 0;
}
.freeBoxdisabled {
  opacity: 0.5;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--token-cRFpyIORwg8Y);
  min-width: 0;
  min-height: 0;
}
.svgboldColor_themePrimary {
  color: var(--token-pWAM8O0zSelI);
}
.svgboldColor_themeSecondary {
  color: var(--token-YCM32gNjIo8z);
}
.svgboldColor_themeStandard {
  color: var(--token-cRFpyIORwg8Y);
}
.svgboldColor_success {
  color: var(--token-93CdaKL6VxaW);
}
.svgboldColor_information {
  color: var(--token-93CdaKL6VxaW);
}
.svgboldColor_warning {
  color: var(--token-jsfRPUeIFGG2);
}
.svgboldColor_error {
  color: var(--token-jsfRPUeIFGG2);
}
.svgsubtleColor_basic {
  color: var(--token-cRFpyIORwg8Y);
}
.svgsubtleColor_themePrimary {
  color: var(--token-Keqx5L2eGEEh);
}
.svgsubtleColor_success {
  color: var(--token-ohfyiy2Pju1Q);
}
.svgsubtleColor_information {
  color: var(--token-nDDFBRufXKN1);
}
.svgsubtleColor_warning {
  color: var(--token-xOXPm5v6UtFq);
}
.svgsubtleColor_error {
  color: var(--token-JoXw85kWrEZO);
}
