.root {
  display: flex;
  flex-direction: row;
  background: var(--token-4Rk8McbiF71C);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  position: relative;
  height: var(--token-Z_XznrZjwceq);
  padding-left: var(--token-ETQCor1Wkm90);
  padding-right: var(--token-ETQCor1Wkm90);
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: var(--token-b4uJCYBglIzv);
  border: 1px solid var(--token-FPx9bnMEPsOk);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-Cs3EO77m53gH));
  width: calc(100% + var(--token-Cs3EO77m53gH));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-Cs3EO77m53gH);
}
.rootanatomy_outlined {
  background: #ffffff00;
  border-width: 2px;
  border-color: var(--token-2PxS9uOmpJtG);
}
.rootanatomy_naked {
  border-style: none;
}
.rootanatomy_ghost {
  background: none;
}
.rootsize_small {
  height: var(--token-yFQDTzXUZaQI);
}
.rootsize_large {
  height: var(--token-y9Hem9vmLEoY);
  border-radius: var(--token-ad4poORBxV1r);
  padding: var(--token-zcs-pVsHgivq);
}
.rootsize_expressiveLarge {
  height: var(--token-y9Hem9vmLEoY);
  background: var(--token-7hcuJPlaYmqp);
  cursor: pointer;
  flex-direction: row;
  border-radius: var(--token-ad4poORBxV1r);
  padding: var(--token-zcs-pVsHgivq);
  border: 0px solid var(--token-2PxS9uOmpJtG);
}
.rootsize_expressiveLarge > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-Cs3EO77m53gH));
  width: calc(100% + var(--token-Cs3EO77m53gH));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootsize_expressiveLarge > :global(.__wab_flex-container) > *,
.rootsize_expressiveLarge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootsize_expressiveLarge > :global(.__wab_flex-container) > picture > img,
.rootsize_expressiveLarge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Cs3EO77m53gH);
  margin-top: 0px;
}
.rootshape_circle {
  border-radius: var(--token--RVThiaPb3ma);
  padding: var(--token-ZseIMxw94CIA) var(--token-10BV8D3CuUzQ);
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootshape_rounded {
  border-radius: var(--token-mTud4BUT_B4x);
}
.rootbackground_main {
  background: var(--token-JG4JZbt-YrRV);
}
.rootbackground_ancillary {
  background: var(--token-wHlWaql4CCLU);
}
.rootbackground_accent {
  background: var(--token-HBLBtyoMqWFA);
}
.rootbackground_destructive {
  background: var(--token--PHB9gzBIZpT);
}
.rootbackground_action {
  background: var(--token-jWwfiQsxNPd-);
}
.rootbackground_standard {
  background: var(--token-CqgpETt_s0FB);
}
.rootborder_main {
  border-color: var(--token-FPx9bnMEPsOk);
}
.rootborder_ancillary {
  border-color: var(--token-KxuxOQYbpvQU);
}
.rootborder_accent {
  border-color: var(--token-sIXrBk6wErWp);
}
.rootborder_standard {
  border-color: var(--token-33xCy3SftwoX);
}
.rootborder_destructive {
  border-color: var(--token-BKVSJOsxWBJf);
}
.rootborder_option {
  border-color: var(--token-vrPv_HM35OM2);
}
.roottext_main {
  border-color: var(--token-FPx9bnMEPsOk);
}
.roottext_ancillary {
  border-color: var(--token-KxuxOQYbpvQU);
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rooticonOnly {
  padding-right: var(--token-Vkl6QDHWQvxQ);
}
.root:hover {
  background: linear-gradient(
      var(--token-3VkZAC7SK5D1),
      var(--token-3VkZAC7SK5D1)
    ),
    var(--token-4Rk8McbiF71C);
}
.root:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--token-vrPv_HM35OM2);
  outline-offset: 2px;
}
.root:active {
  background: linear-gradient(
      var(--token-rJm1LfJ-Gdnt),
      var(--token-rJm1LfJ-Gdnt)
    ),
    var(--token-4Rk8McbiF71C);
}
.contentGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.contentGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-vhF35Q0JqPwL));
  width: calc(100% + var(--token-vhF35Q0JqPwL));
}
.contentGroup > :global(.__wab_flex-container) > *,
.contentGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentGroup > :global(.__wab_flex-container) > picture > img,
.contentGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vhF35Q0JqPwL);
}
.startIconContainer {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
  display: none;
}
.startIconContaineranatomy_solid {
  display: none;
}
.startIconContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.startIconContainericonOnly {
  display: flex;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconanatomy_outlined {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconanatomy_naked {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconanatomy_ghost {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconbackground_ancillary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_accent {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIcontext_main {
  color: var(--token-4Rk8McbiF71C);
}
.slotTargetStartIcontext_ancillary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetStartIcontext_accent {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetStartIcontext_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetStartIcontext_action {
  color: var(--token-9yW6jetbzSV8);
}
.svg__hQmMj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.labelContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-SqdwYONL5_n6);
  font-weight: 500;
  white-space: pre;
  font-size: var(--token-nzhJo5rxzpC3);
}
.slotTargetChildrenanatomy_outlined {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenanatomy_naked {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenanatomy_ghost {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrensize_small {
  font-size: var(--token-60q15gbK5t2P);
}
.slotTargetChildrensize_large {
  font-size: var(--token-8YNrK_1imGi7);
}
.slotTargetChildrensize_expressiveLarge {
  font-size: var(--token-B2IUd2TRCN8k);
}
.slotTargetChildrenbackground_ancillary {
  color: var(--token-SqdwYONL5_n6);
}
.slotTargetChildrenbackground_accent {
  color: var(--token-SqdwYONL5_n6);
}
.slotTargetChildrenbackground_destructive {
  color: var(--token-SqdwYONL5_n6);
}
.slotTargetChildrenbackground_action {
  color: var(--token-SqdwYONL5_n6);
}
.slotTargetChildrentext_main {
  color: var(--token-WLBAYClhTigc);
}
.slotTargetChildrentext_ancillary {
  color: var(--token-57f0yhmVV6C6);
}
.slotTargetChildrentext_accent {
  color: var(--token-3HkJ21bcIwF2);
}
.slotTargetChildrentext_destructive {
  color: var(--token-nqGJiF96z8hF);
}
.slotTargetChildrentext_action {
  color: var(--token-EVta4tF-m8aY);
}
.slotTargetChildrentext_standard {
  color: var(--token-RtRtUSjoOGH7);
}
.text__rWjPl {
  align-self: center;
}
.text__yvjuY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
  display: none;
}
.endIconContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconanatomy_outlined {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconanatomy_naked {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconanatomy_ghost {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconbackground_ancillary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_accent {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcontext_main {
  color: var(--token-4Rk8McbiF71C);
}
.slotTargetEndIcontext_ancillary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetEndIcontext_accent {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetEndIcontext_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIcontext_action {
  color: var(--token-9yW6jetbzSV8);
}
.svg__lYvJ2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.actionGroup {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.actionContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-mYDVqyhDtIBN);
  height: var(--token-mYDVqyhDtIBN);
  flex-shrink: 0;
}
.actionContainersize_expressiveLarge {
  width: var(--token-gHjUGW6JHZt5);
  height: var(--token-gHjUGW6JHZt5);
  flex-shrink: 0;
}
.slotTargetEndIcon2 {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2anatomy_outlined {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIcon2anatomy_naked {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIcon2anatomy_ghost {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIcon2background_ancillary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2background_accent {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2background_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIcon2text_main {
  color: var(--token-4Rk8McbiF71C);
}
.slotTargetEndIcon2text_ancillary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetEndIcon2text_accent {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetEndIcon2text_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIcon2text_action {
  color: var(--token-9yW6jetbzSV8);
}
.svg__eiQb4 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
