.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - var(--token-frm9Ydm9EB_b));
  width: calc(100% + var(--token-frm9Ydm9EB_b));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-frm9Ydm9EB_b);
}
.rootisDisabled {
  opacity: 0.5;
}
.rootlabel_bottom {
  display: flex;
  flex-direction: column;
}
.rootlabel_bottom > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.rootlabel_bottom > :global(.__wab_flex-container) > *,
.rootlabel_bottom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootlabel_bottom > :global(.__wab_flex-container) > picture > img,
.rootlabel_bottom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.rootlabel_top {
  display: flex;
  flex-direction: column-reverse;
}
.rootlabel_top > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.rootlabel_top > :global(.__wab_flex-container) > *,
.rootlabel_top > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootlabel_top > :global(.__wab_flex-container) > picture > img,
.rootlabel_top
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.rootlabel_reversed {
  flex-direction: row-reverse;
}
.rootlabel_reversed > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootlabel_reversed > :global(.__wab_flex-container) > *,
.rootlabel_reversed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootlabel_reversed > :global(.__wab_flex-container) > picture > img,
.rootlabel_reversed
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
._switch {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  flex-shrink: 0;
}
.track {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: var(--token-Vvp1HkUD7yOu);
  height: var(--token-GeXPU6lThbJV);
  transition-property: background;
  transition-duration: 0.2s;
  background: var(--token-lvjjbWNOwpCq);
  flex-shrink: 0;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-HoqjpSK2B0wv);
}
.trackisChecked {
  background: var(--token-O9icv3zTilBT);
  justify-content: flex-end;
  align-items: center;
}
.handle {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  transition-property: all;
  transition-duration: 0.2s;
  background: var(--token--8k1qyhj6xol);
  width: var(--token-CVdCYXnaTfF1);
  height: var(--token-sKDlPlxCf5Nc);
  flex-direction: row;
  margin-left: var(--token-BQFFLDHF_QWI);
  margin-right: 0px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-I3YUUrsSXvHC);
}
.handleglobal_theme_dark {
  border-color: var(--token-gTsETxwy1SUs);
}
.handleisChecked {
  margin-left: 0px;
  margin-right: var(--token-Qfx51KhK12Ax);
}
.track2 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition-property: background;
  transition-duration: 0.2s;
  background: var(--token-lvjjbWNOwpCq);
  min-width: 0;
  display: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-Hnp45_BqVPiQ);
  padding: var(--token-CSvRO2lSLnVD);
}
.option {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  transition-property: all;
  transition-duration: 0.2s;
  background: var(--token--8k1qyhj6xol);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-3n22ukpxGnYm);
  padding: var(--token-CSvRO2lSLnVD) var(--token-oVdmHLj_1S8j);
}
.text__dSxKa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-overflow: clip;
  text-decoration-line: none;
  user-select: text;
  white-space: pre-wrap;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-transform: none;
  text-align: center;
  color: var(--token-Fe-dojLZRR5Y);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--token-cLdjOiKgbMgX);
  min-width: 0;
}
.option2 {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  transition-property: all;
  transition-duration: 0.2s;
  background: none;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-3n22ukpxGnYm);
  padding: var(--token-CSvRO2lSLnVD) var(--token-oVdmHLj_1S8j);
}
.text__bhvHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--token-cLdjOiKgbMgX);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: var(--token-Fe-dojLZRR5Y);
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: var(--token-CSvRO2lSLnVD);
}
.labelContainerlabel_reversed {
  justify-content: flex-start;
  align-items: center;
}
.slotTargetChildren {
  white-space: pre;
  color: var(--token-WUl3RqN9JOwK);
}
.slotTargetChildren > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_expr_html_text),
.slotTargetChildren > :global(.__wab_slot-string-wrapper),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetChildren > *,
.slotTargetChildren > :global(.__wab_slot) > *,
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > :global(.__wab_slot) > picture > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetChildrenisChecked {
  color: var(--token-vW0xoD5jaCcG);
}
