.imageBase {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.imageBasenoPadding {
  padding: var(--token-tJooo4c89bOS);
}
.imageBasewidth_w100 {
  width: var(--token-cKabfX40VHIh);
}
.imageBasewidth_w99 {
  width: var(--token-fZOHgVKo_M9K);
}
.imageBasewidth_w97 {
  width: var(--token-QUClVHn7qPGZ);
}
.imageBasewidth_w95 {
  width: var(--token-TLN6El0k1fLt);
}
.imageBasewidth_w90 {
  width: var(--token-DLSuvw7FTx7y);
}
.imageBasewidth_w83 {
  width: var(--token-abCnHG7Uokx3);
}
.imageBasewidth_w75 {
  width: var(--token-W0JMgLyOihhX);
}
.imageBasewidth_w66 {
  width: var(--token-zBbQlfz_Gzxk);
}
.imageBasewidth_w50 {
  width: var(--token-EUiZY_jO18MQ);
}
.imageBasewidth_w33 {
  width: var(--token-Ul4i8QARlwVl);
}
.imageBasewidth_w25 {
  width: var(--token-QUeh7H1sMBg8);
}
.imageBasewidth_w13 {
  width: var(--token-AQUvbPuQrQru);
}
.imageBasewidth_w10 {
  width: var(--token-1wOVi1KAjBxr);
}
.imageBasewidth_w5 {
  width: var(--token-KC7aHJ_vhKuL);
}
.imageBasewidth_w3 {
  width: var(--token-2x3jvEY-Zx3F);
}
.imageBasewidth_w1 {
  width: var(--token-IEVTSic7Jj1f);
}
.imageBasewidth_hug {
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
}
.imageBasewidth_stretch {
  width: 100%;
  min-width: 0;
}
.imageBaseheight_h100 {
  height: var(--token-7tSQVjVBAjaV);
}
.imageBaseheight_h99 {
  height: var(--token-2J-az6HbX9eZ);
}
.imageBaseheight_h97 {
  height: var(--token-APer_5W2-kSA);
}
.imageBaseheight_h95 {
  height: var(--token-TfryAGeBShua);
}
.imageBaseheight_h90 {
  height: var(--token-JFuAnPeRrQvw);
}
.imageBaseheight_h83 {
  height: var(--token-ScXe6IsKQhSG);
}
.imageBaseheight_h75 {
  height: var(--token-WvFrcoUDB2cJ);
}
.imageBaseheight_h66 {
  height: var(--token-U1-n6KX57kYK);
}
.imageBaseheight_h50 {
  height: var(--token-Ia35_sVaKtTr);
}
.imageBaseheight_h33 {
  height: var(--token-kZOUWp5P39s_);
}
.imageBaseheight_h25 {
  height: var(--token-C_fBtaSIxVHo);
}
.imageBaseheight_h13 {
  height: var(--token-TxKHzpS_oBox);
}
.imageBaseheight_h10 {
  height: var(--token-vsogEZgybWEt);
}
.imageBaseheight_h5 {
  height: var(--token-yFR9ZGvgGC2O);
}
.imageBaseheight_h3 {
  height: var(--token-OLvbc1XfZV1n);
}
.imageBaseheight_h1 {
  height: var(--token-FX9yjWBI9CMy);
}
.imageBaseheight_hug {
  height: auto;
}
.imageBaseheight_stretch {
  height: 100%;
  min-height: 0;
}
.imageBaseradii_circle {
  border-radius: var(--token-sIQqbjnsMcwS);
}
.imageBaseradii_lg {
  border-radius: var(--token-yupn2vr5Vinf);
}
.imageBaseradii_md {
  border-radius: var(--token-IfCpa8kTbFdM);
}
.imageBaseradii_sm {
  border-radius: var(--token-MUS4ge9g8PaM);
}
.imageStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.imageStackradii_circle {
  border-radius: var(--token-sIQqbjnsMcwS);
}
.imageStackradii_lg {
  border-radius: var(--token-yupn2vr5Vinf);
}
.imageStackradii_md {
  border-radius: var(--token-IfCpa8kTbFdM);
}
.imageStackradii_sm {
  border-radius: var(--token-MUS4ge9g8PaM);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.imgradii_circle {
  border-radius: var(--token-sIQqbjnsMcwS);
}
.imgradii_lg {
  border-radius: var(--token-yupn2vr5Vinf);
}
.imgradii_md {
  border-radius: var(--token-IfCpa8kTbFdM);
}
.imgradii_sm {
  border-radius: var(--token-MUS4ge9g8PaM);
}
